<% extend 'layout' %>


<!-- *********************************************************************** -->
<!-- SECTION 1 MAIN -->
<!-- *********************************************************************** -->

<section class="about">
	<div class="aboutLogo"></div>
	<hr>
	
	<div class="text">
	    <%- @site.about %>
	</div>
	
	<hr>
</section>
		