<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Variant Decor</title>
    <!--CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" data-noprefix>
    <link rel="stylesheet" type="text/css" href="/css/sweet-alert.css">
	  <link rel="stylesheet" href="/css/admin.css" type="text/css" data-noprefix>
	  <link rel="stylesheet" href="/css/dropzone.css" type="text/css" data-noprefix>

</head>

<body ng-app="app">

  <div class="container-fluid" ng-controller="AlertCtrl">
    <div class="header">
    
    <a class="navbar-brand" href="/">Variant Decor</a>
    </div>
    <div class="alerts" >
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    
    <div ng-controller="TabsCtrl">
      <tabset>
        
        <tab heading="Продукция" active="tabs[0].active">
          <div class="products" ng-controller="ProductsCtrl as product">
            <hr>
            <h4>Добавить продукт</h4>
            <hr>
            <div class="products newArticle">
              <form role="form" class="form-horizontal row" name="article-{{product.newArticle.id}}" novalidate>
                <div class="group1">
                  <div class="preview"><img ng-src="{{product.newArticle.images[0].image}}"></img></div>
                  <div class="preview2"><img ng-src="{{product.newArticle.images[0].preview}}"></img></div>
                </div>
                <div class="group2">
                  <div class="form-group">
                    <label>URL основного изображения</label>
                    <input type="text" class="form-control" ng-model="product.newArticle.images[0].image">
                  </div>
                  <div class="form-group">
                    <label >URL превью</label>
                    <input type="text" class="form-control"   ng-model="product.newArticle.images[0].preview">
                  </div>
                </div>  
                <div ng-repeat="img in product.newArticle.images | slice:1:6 track by $index" class="extimg">
                  <hr>
                  <div class="group1">
                        <div class="preview"><img ng-src="{{img.image}}"></img></div>
                        <div class="preview2"><img ng-src="{{img.preview}}"></img></div>
                  </div>
                  <div class="group2">
                    <div class="form-group">
                            <label for="article-imgUrl">URL изображения</label>
                            <input type="text" class="form-control"  id="article-imgUrl" ng-model="img.image">
                    </div>
                    <div class="form-group">
                            <label for="article-imgUrl">URL превью</label>
                            <input type="text" class="form-control"  id="article-imgUrl" ng-model="img.preview">
                    </div>
                    <button type="button" class="btn btn-warning rmPhoto" ng-click="product.removePhoto($index)">Удалить фото</button>
                  </div>
                </div>

                <button dropzone="productImg" class="dz1">
                  Загрузите основное фото
                </button>
                
                <button dropzone="productImg2" class="dz2">
                  Загрузите превью
                </button>

                <button type="button" class="btn btn-success" ng-click="product.addPhotos()">Добавить еще фото</button>
                
                <hr>
                <div class="group3">
                  <div class="form-group">
                    <label for="article-season">Коллекция</span></label>
                    <select class="options form-control" ng-model="product.newArticle.collectionID">
                      <option  ng-repeat="c in product.collections track by $index" value="{{c._id}}">{{c.title}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Название</label>
                    <input type="text" class="form-control" ng-model="product.newArticle.title">
                  </div>
                  <div class="form-group">
                    <label>Alias для ЧПУ</label>
                    <input type="text" class="form-control" ng-model="product.newArticle.alias">
                  </div>
                  <div class="form-group">
                    <label>Описание</label>
                    <textarea class="form-control" rows="4" ng-model="product.newArticle.desc"></textarea>
                  </div>
                  <div class="form-group">
                    <label>Цена</label>
                    <input type="text" class="form-control" ng-model="product.newArticle.price">
                  </div>
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="product.newArticle.meta.title">
                  </div>
                  <div class="form-group">
                    <label>Meta Description</label>
                    <input type="text" class="form-control" ng-model="product.newArticle.meta.description">
                  </div>
                  <div class="form-group">
                    <label>Meta Keywords</label>
                    <input type="text" class="form-control" ng-model="product.newArticle.meta.keywords">
                  </div>
                  
                  <button type="submit" class="btn btn-success" ng-click="product.new()">Добавить продукт</button>
                  <button type="button" class="btn btn-warning" ng-click="product.clear()">Очистить</button>
                </div>
              </form>
            </div>
            
            <hr>
            <h4>Текущая продукция</h4>
            <hr>

            <div class="form-group">
              <label>Коллекция</label>
              <select class="form-control" ng-model="product.currentCollection">
                <option  ng-repeat="c in product.collections track by $index" value="{{c._id}}">{{c.title}}</option>
              </select>
            </div>
            <div class="products">
              <div ng-repeat="p in product.products | filter: collectionId track by $index">
                <hr>
                <form role="form" class="form-horizontal row" name="article-{{p.id}}" novalidate>
                  <div class="group1">
                    <div class="preview"><img ng-src="{{p.images[0].image}}"></img></div>
                    <div class="preview2"><img ng-src="{{p.images[0].preview}}"></img></div>
                  </div>
                  <div class="group2">
                    <div class="form-group">
                      <label>URL основного изображения</label>
                      <input type="text" class="form-control" ng-model="p.images[0].image">
                    </div>
                    <div class="form-group">
                      <label>URL превью</label>
                      <input type="text" class="form-control" ng-model="p.images[0].preview">
                    </div>
                  </div>  
                  <div ng-repeat="img in p.images | slice:1:6 track by $index" class="extimg">
                        <hr>
                        <div class="group1">
                          <div class="preview"><img ng-src="{{img.image}}"></img></div>
                          <div class="preview2"><img ng-src="{{img.preview}}"></img></div>
                        </div>
                        <div class="group2">
                          <div class="form-group">
                              <label >URL дополнительного изображения</label>
                              <input type="text" class="form-control" ng-model="img.image">
                          </div>
                          <div class="form-group">
                              <label>URL превью</label>
                              <input type="text" class="form-control"  ng-model="img.preview">
                          </div>
                          <button type="button" class="btn btn-warning rmPhoto" ng-click="product.removePhoto($index, p)">Удалить фото</button>
                      </div>
                  </div>
                    <button type="button" class="btn btn-success" ng-click="product.addPhotos(p)">Добавить еще фото</button>
                    <hr>
                    
                  <div class="group3">  
                    <div class="form-group">
                      <!--<label>Коллекция</span></label>-->
                      <!--<select class="options form-control" ng-model="p.collectionID">-->
                      <!--  <option  ng-repeat="c in product.collections track by $index" value="{{c._id}}">{{c.title}}</option>-->
                      <!--</select>-->
                      <!--select as label for value in array-->
                    <!--  <select ng-model="p.collectionID"-->
                    <!--    ng-options="cid as cid.title for cid._id in product.collections">-->
                    <!--  </select>-->
                    <!--  {{ p.collectionID._id }}-->
                    </div>
                    <div class="form-group">
                      <label>Название</label>
                      <input type="text" class="form-control" ng-model="p.title">
                    </div>
                    <div class="form-group">
                      <label>Алиас для ЧПУ</label>
                      <input type="text" class="form-control" ng-model="p.alias">
                    </div>
                  </div>
                  
                    <div class="form-group">
                      <label>Описание</label>
                      <textarea class="form-control" rows="4" ng-model="p.desc"></textarea>
                    </div>
                    <div class="form-group">
                      <label>Цена</label>
                      <input type="text" class="form-control" ng-model="p.price">
                    </div>
                    <div class="form-group">
                      <label>Title</label>
                      <input type="text" class="form-control" ng-model="p.meta.title">
                    </div>
                    <div class="form-group">
                      <label>Meta Description</label>
                      <input type="text" class="form-control" ng-model="p.meta.description">
                    </div>
                    <div class="form-group">
                      <label>Meta Keywords</label>
                      <input type="text" class="form-control" ng-model="p.meta.keywords">
                    </div>
                    <button type="submit" class="btn btn-success"  ng-click="product.save(p)">Сохранить изменения</button>
                    <button type="button" class="btn btn-warning" ng-click="product.remove(p)">Удалить</button>
                  </div>
                </form>

              
            </div>
          </div>
        </tab>
        
        <tab heading="Коллекции" active="tabs[1].active">
          <div class="products collections1" ng-controller="CollectionsCtrl as collection">
            <hr>
            <h4>Добавить коллекцию</h4>
            <hr>
            <div class="products newArticle">
              <form role="form" class="form-horizontal row" name="article-{{collection.newArticle.id}}" novalidate>
                <div class="group1 collectionPreview">
                  <div class="preview"><img ng-src="{{collection.newArticle.image}}"></img></div>
                  <div class="overlay">
            						<div class="desc1">
            							<div>Коллекция</div>
            							<div class="collectionName">{{collection.newArticle.title}}</div>
            						</div>
            						<hr>
            						<div class="desc2">
            								<div>{{collection.newArticle.desc[0]}}</div>
            								<div>{{collection.newArticle.desc[1]}}</div>
            								<div>{{collection.newArticle.desc[2]}}</div>
            					  </div>
          				</div>
                </div>
                <div class="group2">
                  <div class="form-group">
                    <label>Название коллекции</label>
                    <input type="text" class="form-control" ng-model="collection.newArticle.title">
                    <label>Alias для ЧПУ</label>
                    <input type="text" class="form-control" ng-model="collection.newArticle.alias">
                    <label for="article-imgUrl">Изображение коллекции</label>
                    <input type="text" class="form-control"  id="article-imgUrl" ng-model="collection.newArticle.image">
                    <label>Пример предмета</label>
                    <input type="text" class="form-control" ng-model="collection.newArticle.desc[0]">
                    <label>Пример предмета</label>
                    <input type="text" class="form-control" ng-model="collection.newArticle.desc[1]">
                    <label>Пример предмета</label>
                    <input type="text" class="form-control" ng-model="collection.newArticle.desc[2]">
                  </div>
                  <label>
                    <input type="checkbox" ng-model="collection.newArticle.showInMenu"> Показывать в меню
                  </label>
                  <div class="form-group">
                    <button type="button" class="btn btn-success" ng-click="collection.new()">Добавить коллекцию</button>
                  </div>
                </div>

                <div class="rightGroup">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="collection.newArticle.meta.title">
                  </div>
                  <div class="form-group">
                    <label>Meta Description</label>
                    <input type="text" class="form-control" ng-model="collection.newArticle.meta.description">
                  </div>
                  <div class="form-group">
                    <label>Meta Keywords</label>
                    <input type="text" class="form-control" ng-model="collection.newArticle.meta.keywords">
                  </div>
                  <button dropzone="productImg3" class="dz3">
                    Загрузите фото
                  </button>
                </div>
                <hr>
              </form>
            </div>

            <h4>Текущие коллекции</h4>

            <div class="products collections1">
              <div ng-repeat="p in collection.products track by $index">
                <hr>
                <form role="form" class="form-horizontal row" name="article-{{p.id}}" novalidate>
                  <div class="group1 collectionPreview">
                    <div class="preview"><img ng-src="{{p.image}}"></img></div>
                    <div class="overlay">
            						<div class="desc1">
            							<div>Коллекция</div>
            							<div class="collectionName">{{p.title}}</div>
            						</div>
            						<hr>
            						<div class="desc2">
            								<div>{{p.desc[0]}}</div>
            								<div>{{p.desc[1]}}</div>
            								<div>{{p.desc[2]}}</div>
            					  </div>
          				  </div>
                  </div>
                  <div class="group2">
                    <label>Название коллекции</label>
                    <input type="text" class="form-control" ng-model="p.title">
                    <label>Alias для ЧПУ</label>
                    <input type="text" class="form-control" ng-model="p.alias">
                    <label>Изображение коллекции</label>
                    <input type="text" class="form-control"  ng-model="p.image">
                    <label>Пример предмета</label>
                    <input type="text" class="form-control" ng-model="p.desc[0]">
                    <label>Пример предмета</label>
                    <input type="text" class="form-control" ng-model="p.desc[1]">
                    <label>Пример предмета</label>
                    <input type="text" class="form-control" ng-model="p.desc[2]">
                  </div>
                  <label>
                    <input type="checkbox" ng-model="p.showInMenu"> Показывать в меню
                  </label>
                    <div class="form-group">
                      <button type="button" class="btn btn-success" ng-click="collection.save(p)">Сохранить изменения</button>
                      <button type="button" class="btn btn-warning" ng-click="collection.remove(p)">Удалить</button>
                    </div>
                    <div class="rightGroup">
                    <div class="form-group">
                      <label>Title</label>
                      <input type="text" class="form-control" ng-model="p.meta.title">
                    </div>
                    <div class="form-group">
                      <label>Meta Description</label>
                      <input type="text" class="form-control" ng-model="p.meta.description">
                    </div>
                    <div class="form-group">
                      <label>Meta Keywords</label>
                      <input type="text" class="form-control" ng-model="p.meta.keywords">
                    </div>
                  </div>
                  </div>  

                    <hr>

                </form>
            </div>
          </div>
        </tab>
        
        <tab heading="Эскизы" active="tabs[2].active">
          <div class="articles" ng-controller="SketchesCtrl as sketches">
            <hr>
            <h4>Добавить эскиз</h4>
            <hr>
            <div class="sketches newArticle">
              <form role="form" class="form-horizontal row" name="article-{{sketches.newArticle.id}}"  novalidate>
                <div class="preview"><img ng-src="{{sketches.newArticle.image}}"></img></div>
                <div class="preview2"><img ng-src="{{sketches.newArticle.preview}}"></img></div>
                <div class="groups ska">
                
                  <div class="form-group">
                    <label>Эскиз</label>
                    <input type="text" class="form-control" ng-model="sketches.newArticle.image">
                  </div>
                  
                  <div class="form-group">
                    <label>Превью</label>
                    <input type="text" class="form-control"ng-model="sketches.newArticle.preview">
                  </div>
                  
                  <div class="form-group">
                    <label>Заголовок</label>
                    <input type="text" class="form-control"ng-model="sketches.newArticle.title">
                  </div>
                  <button dropzone="productImg4" class="dz1">
                    Загрузите основное фото
                  </button>
                  
                  <button dropzone="productImg5" class="dz2">
                    Загрузите превью
                  </button>
                  <button type="submit" class="btn btn-success" ng-click="sketches.new()">Добавить эскиз</button>
                  <button type="button" class="btn btn-warning" ng-click="sketches.clear()">Очистить</button>
                </div>
              </form>
            </div>
            
            <hr>
            <h4>Список эскизов</h4>
            <div ng-repeat="article in sketches.articles track by $index" class="sketches">
              <hr>
              <form role="form" class="form-horizontal row" name="article-{{$index}}-form" novalidate>
                <div class="preview"><img ng-src="{{article.image}}"></img></div>
                <div class="preview2"><img ng-src="{{article.preview}}"></img></div>
                <div class="groups ska">
                
                  <div class="form-group">
                    <label>Эскиз</label>
                    <input type="text" class="form-control" ng-model="article.image">
                  </div>
                  
                  <div class="form-group">
                    <label>Превью</label>
                    <input type="text" class="form-control" ng-model="article.preview">
                  </div>
                  
                  <div class="form-group">
                    <label>Заголовок</label>
                    <input type="text" class="form-control"ng-model="article.title">
                  </div>
                  
                  <button type="button" class="btn btn-success" ng-click="sketches.save()">Сохранить изменения</button>
                  <button type="button" class="btn btn-warning" ng-click="sketches.remove($index)">Удалить эскиз</button>
                </div>
              </form>
              
            </div>
          </div>
        </tab>
        
        <tab heading="Видео" active="tabs[3].active">
          <form ng-controller="videoCtrl as videos" role="form" class="form-horizontal" name="videoForm" ng-submit="videos.save()" novalidate>
            <div class="form-group">
              <textarea class="form-control" rows="20"  id="video" ng-model="videos.video"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Сохранить изменения</button>
          </form>
        </tab>
        
        <tab heading="Настройки" active="tabs[4].active">
          <form ng-controller="SettingsCtrl as site" role="form" class="form-horizontal" name="settingsForm" ng-submit="settingsForm.$valid && site.save()" novalidate>
            <hr>
            <h4>Контент сайта</h4>
            <hr>

            
            <h4>Главная страница</h4>
            <div class="rightGroup">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.main.title">
              </div>
              <div class="form-group">
                <label>Meta Description</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.main.description">
              </div>
              <div class="form-group">
                <label>Meta Keywords</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.main.keywords">
              </div>
            </div>
            <hr>
            <h4>Блог</h4>
            <div class="rightGroup">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.blog.title">
              </div>
              <div class="form-group">
                <label>Meta Description</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.blog.description">
              </div>
              <div class="form-group">
                <label>Meta Keywords</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.blog.keywords">
              </div>
            </div>
            
            <hr>
            <h4>Обо мне</h4>
            <div class="form-group">
              <label for="site-description">Текст раздела "Обо мне"</label>
              <textarea class="form-control" rows="7"  id="admins" ng-model="site.settings.about"></textarea>
            </div>
            <div class="rightGroup">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.about.title">
              </div>
              <div class="form-group">
                <label>Meta Description</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.about.description">
              </div>
              <div class="form-group">
                <label>Meta Keywords</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.about.keywords">
              </div>
            </div>
            
            <hr>
            <h4>Индивидуальный пошив</h4>
            <div class="form-group">
              <label for="site-description">Текст раздела "Индивидуальный пошив"</label>
              <textarea class="form-control" rows="7"  id="admins" ng-model="site.settings.sewing"></textarea>
            </div>
            <div class="rightGroup">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.sewing.title">
              </div>
              <div class="form-group">
                <label>Meta Description</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.sewing.description">
              </div>
              <div class="form-group">
                <label>Meta Keywords</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.sewing.keywords">
              </div>
            </div>
            <hr>
            <h4>Контакты</h4>
            <div class="rightGroup">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.contacts.title">
              </div>
              <div class="form-group">
                <label>Meta Description</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.contacts.description">
              </div>
              <div class="form-group">
                <label>Meta Keywords</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.contacts.keywords">
              </div>
            </div>
            <hr>
            <h4>Инстаграм</h4>
            <div class="rightGroup">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.instagram.title">
              </div>
              <div class="form-group">
                <label>Meta Description</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.instagram.description">
              </div>
              <div class="form-group">
                <label>Meta Keywords</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.instagram.keywords">
              </div>
            </div>
            <hr>
            <h4>Эскизы</h4>
            <div class="rightGroup">
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.sketches.title">
              </div>
              <div class="form-group">
                <label>Meta Description</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.sketches.description">
              </div>
              <div class="form-group">
                <label>Meta Keywords</label>
                <input type="text" class="form-control" ng-model="site.settings.meta.sketches.keywords">
              </div>
            </div>

            <hr>
            <h4>КОНТАКТЫ</h4>
            <hr>
            
            <div class="form-group">
              <label for="email">Email (для заявок)</label>
              <input type="email" class="form-control"  id="email" ng-model="site.settings.mail">
            </div>
            <div class="form-group">
              <label>Телефон</label>
              <input type="text" class="form-control" ng-model="site.settings.phone">
            </div>
            <!-- SOCIAL -->
            <div class="form-group">
              <label for="youtube">Ссылка YouTube</label>
              <input type="text" class="form-control"  id="youtube" ng-model="site.settings.links.youtube">
            </div>
            <div class="form-group">
              <label for="facebook">Ссылка Facebook</label>
              <input type="text" class="form-control"  id="facebook" ng-model="site.settings.links.facebook">
            </div>
            <div class="form-group">
              <label for="instagram">Ссылка Instagram</label>
              <input type="text" class="form-control"  id="instagram" ng-model="site.settings.links.instagram">
            </div>
            <div class="form-group">
              <label for="vkontakte">Ссылка VKontakte</label>
              <input type="text" class="form-control"  id="vkontakte" ng-model="site.settings.links.vkontakte">
            </div>
            
            <button type="submit" class="btn btn-default">Сохранить изменения</button>
          </form>
        </tab>

        
        <tab heading="Администраторы" active="tabs[5].active">
          <form ng-controller="adminsCtrl as admins" role="form" class="form-horizontal" name="adminsForm" ng-submit="admins.save()" novalidate>
          <hr>
          <h4>Локальный вход</h4>
          <hr>         
            <div class="form-group">
              <label>Логин</label>
              <input type="text" class="form-control" ng-model="admins.admins.local[0].login">
            </div>
            <div class="form-group">
              <label>Пароль</label>
              <input type="text" class="form-control" ng-model="admins.admins.local[0].pass">
            </div>
          
          <hr>
          <h4>ID Администраторов для входа через ВКонтакте</h4>
          <hr>
          
            <div class="form-group">
              <textarea class="form-control" rows="10"  id="admins" ng-model="admins.admin"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Сохранить изменения</button>
          </form>  
        </tab>
      
      </tabset>
    </div>
  </div>

  <!--JavaScript-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="/admin/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script src="/js/sweet-alert.min.js"></script>
  <script src="/admin/pouchdb-6.4.3.min.js"></script>
  <script src="/admin/pouchdb.find.min.js"></script>
  <script src="/js/dropzone.js"></script>
  <script>
    var db = new PouchDB('<%- @db %>');
	</script>
	<script src="/admin/admin.js"></script>
</body>
</html>