<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>LinesUP Admin Page</title>
    
    <!--CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css" data-noprefix>
	<link rel="stylesheet" href="/css/admin.css" type="text/css" data-noprefix>

</head>
<body ng-app="app">
	<div id="vk_api_transport"></div>
	<div class="loginWrapper">
  	<div class="loginMain center-block">
  	  <form class="form-inline" action="/admin" method="post" autocomplete="off">
        <div class="form-group">
          <label for="login">Логин</label>
          <input type="text" class="form-control" name="login" id="login" placeholder="admin">
        </div>
        <div class="form-group">
          <label for="pass">Пароль</label>
          <input type="password" class="form-control" name="pass" id="pass" >
        </div>
      
      <button type="submit" class="btn btn-success" >Вход</button>
      <button class="btn btn-primary" type="button" onclick="VKlogin();">Вход через ВКонтакте</button>
      </form>
  	</div>
  </div>
	
	<!--JavaScript-->
    <script>
    window.vkAsyncInit = function() {
        VK.init({
    	    apiId: 4546205
    	});
        VK.Auth.getLoginStatus();
	};
	
	  setTimeout(function() {
	    var el = document.createElement("script");
	    el.type = "text/javascript";
	    el.src = "//vk.com/js/api/openapi.js";
	    el.async = true;
	    document.getElementById("vk_api_transport").appendChild(el);
	  }, 0);
	  
	  function VKlogin(){
	      VK.Auth.getLoginStatus(function(response) { 
          if (response.session) { 
            window.location="/admin"
          } else { 
              VK.Auth.login(function(response) { 
              if (response.session) { 
                window.location="/admin"
                if (response.settings) { 
                  /* Выбранные настройки доступа пользователя, если они были запрошены */ 
                } 
              } else { 
                /* Пользователь нажал кнопку Отмена в окне авторизации */ 
              } 
            }, 1);  
          }
        });
	  }
	  function login(){
	    
	  }
	</script>
</body>
</html>