<% extend 'layout' %>


<!-- *********************************************************************** -->
<!-- BLOG -->
<!-- *********************************************************************** -->

<section class="blog">
	<div class="wrapper">
		
		<div class="half inst">
			<div class="title"><img src="/img/instLogo.png"></div>
			<div class="images" id="instafeed"></div>
		</div>
		
		<div class="half sketches">
			<div class="title">Эскизы</div>
			<div class="images">
			<% for item, i in @sketches : %>
				<div class="image">
					<a href="/sketches" target="_self">
						<img src="<%- item.preview %>" alt="<%- item.title %>"/>
					</a>
				</div>
			<% end %>
			</div>
		</div>

		<div class="videos">
			<div class="title">Видео</div>
			<div class="videoSlider">
				<% for id in @videos : %>
				<div class="video">
					<iframe src="//www.youtube.com/embed/<%- id %>?origin=<%- @origin %>" 
						frameborder="0" allowfullscreen>
					</iframe>
				</div>
				<% end %>

				
				<!--<div class="video">-->
				<!--	<div class="preview">-->
				<!--		<img src="/img/video1.jpg"/>-->
				<!--	</div>-->
				<!--	<div class="playIcon">-->
				<!--		<img src="/img/videoPlayIcon.png">-->
				<!--	</div>-->
				<!--</div>-->
				
			</div>
			<hr>
		</div>
		
	</div>
</section>