<% extend 'layout' %>

<section class="collection">
	<div class="items">
		<% for item, i in @items : %>
		<div class="item">
			<a href="/item/<%- item.alias || item._id %>" title="<%- item.title %>">
				<div class="image mainImg">
					<img src="<%- item.images[0].image %>" alt="<%- item.title %>"></img>
				</div>
				<div class="image hoverImg">
					<% if typeof(item.images[1]) == "undefined" : %>
					    <img src="<%- item.images[0].image %>" alt="<%- item.title %>"></img>
					<% else : %>
					  <img src="<%- item.images[1].image %>" alt="<%- item.title %>"></img>
					<% end %>
				</div>
				<div class="itemName"><%- item.title %></div>
				<div class="price">
					<span><%- item.price %></span>
					<span>Р</span>
				</div>
			</a>
		</div>
		<% end %>
	</div>
</section>
		