<% extend 'layout' %>

<section class="collections">
	<div class="slider">
	<% for item, i in @collections : %>
		<% if i%2 == 0 : %>
		<div class="slide">
			<div class="item top">
				<div class="image">
					<img src="<%- item.image %>" alt="Коллекция <%- item.title %>"></img>
				</div>
				<a href="/collection/<%- item.alias || item._id %>" title="Коллекция <%- item.title %>">
					<div class="overlay">
						<div class="desc1">
							<div>Коллекция</div>
							<div class="collectionName"><%- item.title %></div>
						</div>
						<hr>
						<div class="desc2">
							<% for line, j in item.desc : %>
								<div><%- line %></div>
							<% end %>
						</div>
					</div>
				</a>
			</div>
		<% end %>
		
		<% if i%2 == 1 : %>
			<div class="item bottom">
				<div class="image">
					<img src="<%- item.image %>" alt="Коллекция <%- item.title %>"></img>
				</div>
				<a href="/collection/<%- item.alias || item._id %>" title="Коллекция <%- item.title %>">
					<div class="overlay">
						<div class="desc1">
							<div>Коллекция</div>
							<div class="collectionName"><%- item.title %></div>
						</div>
						<hr>
						<div class="desc2">
							<% for line, j in item.desc : %>
								<div><%- line %></div>
							<% end %>
						</div>
					</div>
				</a>
			</div>
		</div>
		<% end %>
	<% end %>	
	</div>
</section>
		