<% extend 'layout' %>

<section class="collection-item">
	<div class="wrapper">
		<div class="half leftSide">
			<div class="mainImg">
				<img class="magniflier" alt="<%- @item.title %>" 
					src="<%- @item.images[0].image %>" 

					data-normal="<%- @item.images[0].image %>"
					data-preview="<%- @item.images[0].preview %>"/>
			</div>
		</div>
		<div class="half rightSide">
			<div class="itemName"><%- @item.title %></div>
			<div class="price"><span><%- @item.price %></span><span>Р</span></div>
			<div class="description"><%- @item.desc %></div>
			<div class="otherImages">
				<% for image, i in @item.images : %>
				<% if i == 0 : %>
				<div class="image current">
				<% else : %>
				<div class="image">
				<% end %>
					<img alt="<%- @item.title %>"  
						src="<%- image.preview %>"

						data-normal="<%- image.image %>"
						data-preview="<%- image.preview %>"/>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>
		
<!-- data-large="<- @item.images[0].large || @item.images[0].image %>" -->
<!-- data-large="<- image.large || image.image %>" -->