<% extend 'layout' %>


<!-- *********************************************************************** -->
<!-- CONTACTS -->
<!-- *********************************************************************** -->

<section class="contact">
	<div class="title">Если Вас заинтересовали наши услуги<br>Вы всегда можете связаться с нами</div>
	<div class="social">
		<span><a href="<%- @site.links.instagram %>" target="_blank"><img src="/img/inst-icon.png"></a></span>
		<span><a href="<%- @site.links.vkontakte %>" target="_blank"><img src="/img/vk-icon.png"></a></span>
		<span><a href="<%- @site.links.facebook %>" target="_blank"><img src="/img/fb-icon.png"></a></span>
		<span><a href="<%- @site.links.youtube %>" target="_blank"><img src="/img/yt-icon.png"></a></span>
	</div>
	<div class="whatsapp">
		<a href="#" target="_blank">
			<span class="img"><img src="/img/whatsapp-icon.png"></span>
			<span class="number"><%- @site.phone %><span>
		</a>
	</div>
	<div class="order">
		<div class="text">Также Вы можете оставить заявку<br>и наши менеджеры свяжутся с Вами</div>
		<input type="text" name="name" placeholder="Имя"/>
		<input type="text" name="phone" placeholder="Телефон"/>
		<input type="email" name="email" placeholder="E-mail"/>
		<button type="button" class="btn">Оставить заявку</button>
	</div>
</section>
		