<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Variant Decor">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Variant Decor</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    
	<script>
		if (window.matchMedia("(min-width: 1366px)").matches) {
			
		}
		else {
			window.location="/main";
		}
	</script>
	
	
    <!--CSS -->
    <!--<link rel="stylesheet" href="/css/dev.css" type="text/css">	-->
    <link rel="stylesheet" href="/css/start.css" type="text/css">
    <script src="/js/prefixfree.min.js"></script>
    <script type="text/javascript">
        
        /**
     * Polyfill for the vw, vh, vm units
     * Requires StyleFix from -prefix-free http://leaverou.github.com/prefixfree/
     * @author Lea Verou
     */
    
    (function() {
    
    if(!window.StyleFix) {
    	return;
    }
    
    // Feature test
    var dummy = document.createElement('_').style,
    	units = ['vw', 'vh', 'vmin', 'vmax'].filter(function(unit) {
    		dummy.width = '';
    		dummy.width = '10' + unit;
    		return !dummy.width;
    	});
    
    if(!units.length) {
    	return;
    }
    
    StyleFix.register(function(css) {
    	var w = innerWidth, h = innerHeight;
    	
    	return css.replace(RegExp('\\b(\\d+\\.?\\d*)(' + units.join('|') + ')\\b', 'gi'), function($0, num, unit) {
    		switch (unit) {
    			case 'vw':
    				return num * w / 100 + 'px';
    			case 'vh':
    				return num * h / 100 + 'px';
    			case 'vmin':
    				return num * Math.min(w,h) / 100 + 'px';
    			case 'vmax':
    				return num * Math.max(w,h) / 100 + 'px';
    		}
    	});
    });
    
    })();
    </script>
</head>

<body>
	<img class="svg-loader" src="/img/loading-bubbles.svg" alt="Loading..." />
	
	<div class="error">

		<% if @message : %>
			<%- @message %>
		<% else : %>
			Упс. Что-то пошло не так!
			<br>
			Коснитесь бабочки для
			<br>
			перехода на главную страницу. 
		<% end %>

	</div>
	
	<section class="startPage container active">
		<a class="startLogo" href="#"></a>
		
		<div class="bf">
		    <div class="bf-left-wing"></div>
		    <div class="bf-body"></div>
		    <div class="bf-right-wing"></div>
		</div>
		
		<div class="bf">
		    <div class="bf-left-wing"></div>
		    <div class="bf-body"></div>
		    <div class="bf-right-wing"></div>
		</div>
		
		<div class="bf">
		    <div class="bf-left-wing"></div>
		    <div class="bf-body"></div>
		    <div class="bf-right-wing"></div>
		</div>
		
		<div class="bf">
		    <div class="bf-left-wing"></div>
		    <div class="bf-body"></div>
		    <div class="bf-right-wing"></div>
		</div>
		
		<div class="bf">
		    <div class="bf-left-wing"></div>
		    <div class="bf-body"></div>
		    <div class="bf-right-wing"></div>
		</div>
		
		<div class="bf">
		    <div class="bf-left-wing"></div>
		    <div class="bf-body"></div>
		    <div class="bf-right-wing"></div>
		</div>
		
	</section>
	
    <script src="/js/app.min.js"></script>
    <script src="/js/dev.js"></script>
    <script>
	    $(document).ready(function(){
	    	$(".bf, .startLogo").click(function(){
	            $(".bf:first").addClass("active");
	            $(".error").fadeOut();
	            
	            setTimeout(function(){
	                $(".startPage").fadeOut(500, function(){ 
	                    window.location="/main";
	                })
	            },1000);
	        });
	    });
    </script>
</body>

</html>