<% extend 'layout' %>


<!-- *********************************************************************** -->
<!-- SECTION 1 MAIN -->
<!-- *********************************************************************** -->

<section class="main s1">
	<div class="mainLogo" id="mainLogo"></div>
</section>
		