<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="description" content="<%- @site.meta.main.description %>">
    <meta name="keywords" content="<%- @site.meta.main.keywords %>">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title><%- @site.meta.main.title %></title>
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
	
    <!--CSS -->

    <link rel="stylesheet" href="/css/style.css" type="text/css" data-noprefix>
    <link rel="stylesheet" href="/css/offcanvasmenu.css" type="text/css" data-noprefix>	

    <link rel="stylesheet" href="/css/dev.css" type="text/css">	
    <link rel="stylesheet" href="/css/dev_media.css" type="text/css">
    
    <link href='//fonts.googleapis.com/css?family=Forum&subset=latin,cyrillic' rel='stylesheet' type='text/css' data-noprefix>
    
    <script src="/js/prefixfree.min.js"></script>
    <script type="text/javascript">
        
        /**
     * Polyfill for the vw, vh, vm units
     * Requires StyleFix from -prefix-free http://leaverou.github.com/prefixfree/
     * @author Lea Verou
     */
    
    (function() {
    
    if(!window.StyleFix) {
    	return;
    }
    
    // Feature test
    var dummy = document.createElement('_').style,
    	units = ['vw', 'vh', 'vmin', 'vmax'].filter(function(unit) {
    		dummy.width = '';
    		dummy.width = '10' + unit;
    		return !dummy.width;
    	});
    
    if(!units.length) {
    	return;
    }
    
    StyleFix.register(function(css) {
    	var w = innerWidth, h = innerHeight;
    	
    	return css.replace(RegExp('\\b(\\d+\\.?\\d*)(' + units.join('|') + ')\\b', 'gi'), function($0, num, unit) {
    		switch (unit) {
    			case 'vw':
    				return num * w / 100 + 'px';
    			case 'vh':
    				return num * h / 100 + 'px';
    			case 'vmin':
    				return num * Math.min(w,h) / 100 + 'px';
    			case 'vmax':
    				return num * Math.max(w,h) / 100 + 'px';
    		}
    	});
    });
    
    })();
    </script>
</head>

<body>

    
    
    <div id="st-container" class="st-container">
     
        <!-- content push wrapper -->
        <div class="st-pusher">
     
            <% include 'menu' %>
     
            <div class="st-content">
                <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
                    <% content %>
                </div>
            </div>
     
        </div>
     
    </div>
		

    	

    <% include 'modals' %>
    


    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/app.min.js"></script>
        <script src="/js/sidebar.js"></script>
    <script src="/js/dev.js"></script>

	
</body>
</html>