<button id="menuToggle" data-effect="st-effect-1">
	<div class="text">Меню</div>
</button>

<nav class="st-menu st-effect-1" id="menu-1">
    <!-- sidebar content -->
	<ul>
		<li><a class="" href="/main">Главная</a></li>
		<li><a class="" href="/collections">Коллекции</a></li>
		<hr>
		<!-- dinamic part? -->
		<% if @menu?.length > 0 : %>
			<% for item, i in @menu : %>
				<li><a class="dynLink" href="/collection/<%- item.alias || item.id %>"><%- item.title %></a></li>
			<% end %>
		<% end %>
		<!-- dinamic part end -->
		<hr>
		<li><a class="" href="/blog">Блог</a></li>
		<li><a class="" href="/about">Обо мне</a></li>
		<li><a class="" href="/sewing">Пошив</a></li>
		<li><a class="" href="/contacts">Контакты</a></li>
	</ul>
	
	<div class="menuButtefly"></div>
		
</nav>