<!-- *********************************************************************** -->
<!-- Modal windows -->
<!-- *********************************************************************** -->

<div class="modal2" id="infoModal">
	<div class="overlay"></div>
		<div class="wrapper">
			<div class="info">Ваша заявка принята<br>скоро мы свяжемся с вами</div>
	</div>
</div>