<% extend 'layout' %>


<!-- *********************************************************************** -->
<!-- SEWING -->
<!-- *********************************************************************** -->

<section class="sewing">
	<div class="title">Индивидуальный пошив</div>
	<hr>
	<div class="info"><%- @site.sewing %></div>
	<div class="order">
		<div class="text">Оставьте заявку на индивуальный пошив одежды<br>и наши менеджеры свяжутся с Вами</div>
		<input type="text" name="name" placeholder="Имя"/>
		<input type="text" name="phone" placeholder="Телефон"/>
		<input type="email" name="email" placeholder="E-mail"/>
		<button type="button" class="btn">Оставить заявку</button>
	</div>
</section>
		