<% extend 'layout' %>

<section class="sketchesMain">
	<div class="wrapper">
		<div class="title">Эскизы</div>
		<div class="images">
			<% for item, i in @sketches : %>
			<div class="image">
				<a href="<%- item.image %>" class="fancybox"
				  rel="group" target="_self" title="<%- item.title %>">
					<img src="<%- item.preview %>" alt="<%- item.title %>"/>
				</a>
			</div>
			<% end %>
		</div>
	</div>
</section>

<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />