.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    background-color: #3B3934;
}
hr {
    margin-left:-14vw;
    width:98vw;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.66);
}
.dz-preview {
    display: none;
}
button.dz1, button.dz2, button.dz3 {
    color: white;
height: 6vh;
top: -13vh;
right: -11vw;
position: relative;
float: right;
width: 12vw;
    background-color: rgb(124, 124, 124);
    border: none;
    box-shadow: inset 0 0 10px 3px rgba(2, 2, 2, 0.5);
    margin-top: 3px;
}

button.dz2 {
height: 6vh;
top: -7vh;
right: -23vw;
}
button.dz3 {
top: 1vh;
left: 0;
float: none;
}


.loginWrapper {
    background-color: #3B3934;
    background-image: url(/img/bg-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
    .loginMain {
        width: 38vw;
        height: 10vh;
        position: absolute;
        left: 24vw;
        top: 40vh;
        font-size: 0;
        color: white;
        label {
            text-shadow: 2px 2px 4px rgba(0,0,0,.8);
        }
        .form-group:first-of-type {
            
        }
        .form-group:last-of-type {
            float: right;
        }
        form {
            font-size: 2vh;
        }
        
        .btn {
            display: inline-block;
            width: 49%;
            height: 5vh;
            line-height: 5vh;
            font-size: 2vh;
            padding: 0;
            margin-top: 1vh;
            
            &:first-of-type {
                margin-right: 1%;
            }
        }
    }
}



.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    color: white;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.7);
}
.header {
    position:fixed;
    height:50px;
    width: 100vw;
    background-color: rgba(36, 36, 36, 0.5);
    z-index: 1;
}

h4 {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .8);
}
.alerts {
    position: fixed;
    top: 80px;
    right: 5vw;
}
.nav-tabs {
    border: 0px; 
}
a.navbar-brand {
    position:fixed;
    top:0;
    left:0;
    color:white;
    z-index: 2;
}
ul.nav.nav-tabs {
    position: fixed;
    left: 250px;
    top:0;
    z-index: 2;
}
.nav.nav-tabs li a {
    color:white;
    border:0px;
    border-radius:0;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
}
.nav.nav-tabs li a:hover, .nav.nav-tabs li.active a , a.navbar-brand:hover{
    background-color: rgba(32, 32, 32, 0.6);
    border:0;
    color:white;
}
.tab-content {
    margin-top: 60px;
    padding:0 5vw;
    width: 80vw;
    margin-left: 10vw;
}
.articles .preview {
    text-align: center;
}
form.form-horizontal {
    margin-bottom: 2vh;
}
.form-horizontal .form-group {
    margin-right: 0px; 
    margin-left: 0px; 
}


.btn {
    transition: all .1s;
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.36);
    margin-top: 2vh;
}
.btn:hover {
    transition: all .1s;
    box-shadow: none;
}
.articles .preview {
text-align: center;
width: 25vw;
float: left;
height: 15vw;
margin-right: 2vw;
}
.articles .groups {
width: 40vw;
float: left;
min-height: 50vh;
}
.group1 {
    position: relative;
}
.preview2 {
    position: absolute;
    left: -12vw;
    bottom: 0;
}
.news {
    position: relative;
    .preview img {
        max-height: 100%;
        width: 100%;
    }
    
    .preview2 {
        position: absolute;
        left: initial;
        bottom: 0;
        height: 15vh;
        min-height: 200px;
        img {
            height:100%;
        }
        
    }
}
.products {
    .group1 {
        width: 36vw;
        height: 40vh;
        margin-right: 2vw;
        float: left;
        
        .preview {
            width: 23vw;
            height: 38vh;
            position: absolute;
            left: 15vw;
            bottom: 2vh;
            img {
                max-width: 100%;
                max-height: 100%;
                height: auto;
                width: auto;
            }
        }
        .preview2 {
            width: 14vw;
            height: 24vh;
            position: absolute;
            left: 0vw;
            bottom: 2vh;
            img {
                max-width: 100%;
                max-height: 100%;
                height: auto;
                width: auto;
            }
        }
    }
    .group2 {
        width: 32vw;
        float: left;
        position: relative;
    }
    .rmPhoto {
        position: absolute;
        left: 12vw;
    }
    
}

.products.collections1 {
    position: relative;
    form {
        width: 60vw;
        position:relative;
    .form-group {
            margin-bottom: 0px;
        }
    .group2 {
        width: 34vw;
    }
    .rightGroup {
        position: absolute;
        right: -18vw;
        top: 0;
        width: 22vw;
    }
    .group1.collectionPreview {
    width: 18vw;
    
    .preview {
        width: 200px;
        height: 300px;
        position: absolute;
        left: 0;
        top: 0;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .overlay {
        position: absolute;
        background-color: rgba(255,255,255,.6);
        box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
        color: black;
        opacity: 1;
        transition: all .5s;
        transition-delay: .15s;
        width: 180px;
        height: 280px;
        position: absolute;
        left: 10px;
        top: 10px;
        text-align: center;
        
        hr {
            width: 50px;
            margin: 20px auto;
            border-top: 2px solid rgba(0,0,0,.5);
            box-shadow: none;
        }
        
        .desc1 {
            text-transform: uppercase;
            margin-top: 8vh;
            font-family: Forum;
        }
    }
    }
    }
}

.sketches {
    form {
        position: relative;
    }
    .ska.groups {
        min-height: 28vh;
        width: 36vw;
        button.dz1  {
            top: -20vh;
            right: -13vw;
        }
        button.dz2 {
            top: -14vh;
            right: -25vw;
        }
    }
    .preview, .preview2{
        img {
            max-width: 25vw;
            max-height: 15vw;
        }
    } 
    .preview2 {
        position: absolute;
        left: -12vw;
        bottom: initial;
    }
}