@font-face {
    font-family: ahellya;
    src: url("/css/fonts/ahellya.regular.ttf");
}

button:focus {
    outline: 0 !important;
}
body {
    margin: 0;
    font-family: ahellya, 'Forum', cursive;
}
.st-content {
    background: #3D3D3D;
}
//------------------------------------------------------------------------------ 
// HELPERS & OTHER
//------------------------------------------------------------------------------
.glass {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 5%;
  cursor: crosshair;
  z-index: 99;
  
  /* Multiple box shadows to achieve the glass effect */
  box-shadow: 
      0 0 0 7px rgba(94, 94, 94, 0.85),
      0 0 15px 7px rgba(0, 0, 0, 0.32),
      inset 0 0 40px 2px rgba(0,0,0,0.35);
  
  /* hide the glass by default */
  display: none;
}

.modal2 {
    display: none;
    opacity: 0;
    transition: all .5s;
    z-index: 999;
    height: 0;
    .overlay {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
    .wrapper {
        position: fixed;
        top: 30vh;
        height: 40vh;
        left: 30vw;
        width: 40vw;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 10vmin;
        z-index: 1000;
        
        .info {
            color: white;
            font-size: 3vmin;
            text-shadow: 0px 1px 1px black;
            text-align: center;
            padding: 15vh 0;
        }
    }
}
.modal2#infoModal .wrapper{
  border-radius: 0;
  /* border: 4px solid #d3cfd6; */
  // background-image: url("/img/gold.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
  height: 18%;
  width: 17%;
  top: 41%;
  left: 41.5%;
}

@keyframes rotate {
    from {
        transform: perspective(400px); 
        transform: rotate3d(1,1,1,0deg);
    }
    to {
        transform: perspective(400px);
        transform: rotate3d(1,1,1,360deg);
    }
}



//------------------------------------------------------------------------------ 
// MAIN STYLES
//------------------------------------------------------------------------------
.st-container {

    //--------------------------------------------------------------------------
    // Sidebar
    //--------------------------------------------------------------------------
    #menuToggle {
        position: fixed;
        width: 2vw;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: rgb(78,78,78);
        z-index: 1;
        border: none;
        opacity: 0;
        
        .text {
            transform: 
                rotate3d(0, 0, 1, -90deg) 
                translate3d(0,-15px,0);
            color: white;
            text-transform: uppercase;
            text-shadow: -1px 2px 3px rgba(0,0,0,.66);
            background-color: rgb(78,78,78);
            padding: .5vh 0;
            border-radius: 1vh;
            width: 6vh;
            
            &:hover {
                transform: 
                rotate3d(0, 0, 0, -90deg);
            }
        }
    }
    
    .st-menu {
        width: 255px;
        background: rgb(28,28,28);
        
        ul {
            margin: 7vh 2vw;
            padding: 0;
            list-style: none;
        
            li {
                a {
                display: block;
                padding: .5vh 0;
                outline: none;
                color: rgb(238,238,238);
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                }
                a.dynLink {
                    color: rgb(130,130,130);
                }
                a:focus, a:hover {
                    text-decoration: none;
                    color: white;
                    text-shadow: 0px 0px 3px rgba(255,255,255,.3);
                }
            }
            
        }
        hr {
            // width: 60%;
            border-top: 1px solid rgb(115,115,115);
        }
        
        .menuButtefly {
            width: 100%;
            height: 35vh;
            background: url(/img/logo-menu.png) left center no-repeat;
            background-size: cover;
            margin-top: 5vh;
        }
    }
    
    //--------------------------------------------------------------------------
    // Content
    //--------------------------------------------------------------------------
    .st-content {
        width: 100%;
        // padding-left: 2vw;
        overflow-x: hidden;
        overflow-y: auto;
        min-height: 100vh;
        
        .main {
            height: 100vh;
            width: 100%;
            background: url(/img/bg-main-full.jpg) center no-repeat;
            background-size: cover;
            
            #mainLogo {
                height: 18vh;
                width: 23vw;
                background: url(/img/logo-mainPage.png) center no-repeat;
                background-size: contain;
                position: absolute;
                top: 37vh;
                left: 25vw;
            }
        }
        
        hr {
            width: 5vw;
            margin: 5vh auto;
            border-top: 1px solid rgb(137,137,137);
        }
        
        .about {
            background: url(/img/bg-about.jpg) center no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            
            .aboutLogo {
                margin-top: 24vh;
                height: 20vh;
                background: url(/img/logo-about.png) center no-repeat;
                background-size: contain;
            }
            .text {
                text-align: center;
                width: 55vw;
                font-size: 2.2vmin;
                line-height: 4.5vmin;
                color: rgb(215,215,215);
                margin: 0 auto;
            }
        }
        
        .contact {
            // padding-left: 2vw;
            color: rgb(215,215,215);
            background: url(/img/bg-contacts.jpg) center no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            font-size: 2.2vmin;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            
            .title {
                // text-align: center;
                margin-top: 23vh;
                margin-bottom: 5vh;
            }
            .social {
                margin: 2vh auto 4vh;
                text-align: center;
                
                img {
                    height: 5vmin;
                    width: 5vmin;
                }
            }
            
            .whatsapp {
                a {
                    color: rgb(215,215,215);
                    line-height: 3vmin;
                    font-size: 2.5vmin;
                    font-family: "Forum";
                }
                img {
                    height: 3vmin;
                    width: 3vmin;
                    vertical-align: top;
                    margin-right: .33vw;
                }
            }
            
            .order {
                margin-top: 10vh;
                height: 25vh;
                background-color: rgba(0,0,0,.3);
                
                .text {
                    padding: 4vh 0;
                }
                input, button {
                    width: 12.5%;
                    height: 5vh;
                    border: none;
                    border-radius: 1vmin;
                    text-indent: 1vw;
                    box-shadow: 0 0 0px 2px rgba(193,176,109,.9);
                    margin: 0px 0.5vw;
                    vertical-align: top;
                    color: rgb(32, 32, 32);
                    outline: 0;
                }
                button {
                    background: rgb(217,206,141);
                    background: -moz-linear-gradient(top, rgba(217,206,141,1) 0%, rgba(195,177,111,1) 50%, rgba(176,152,84,1) 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,206,141,1)), color-stop(50%,rgba(195,177,111,1)), color-stop(100%,rgba(176,152,84,1)));
                    background: -webkit-linear-gradient(top, rgba(217,206,141,1) 0%,rgba(195,177,111,1) 50%,rgba(176,152,84,1) 100%);
                    background: -o-linear-gradient(top, rgba(217,206,141,1) 0%,rgba(195,177,111,1) 50%,rgba(176,152,84,1) 100%);
                    background: -ms-linear-gradient(top, rgba(217,206,141,1) 0%,rgba(195,177,111,1) 50%,rgba(176,152,84,1) 100%);
                    background: linear-gradient(to bottom, rgba(217,206,141,1) 0%,rgba(195,177,111,1) 50%,rgba(176,152,84,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ce8d', endColorstr='#b09854',GradientType=0 );
                    color: white;
                    text-indent: 0;
                    text-transform: uppercase;
                    font-size: 2vh;
                    line-height: 2vh;
                    
                    &:hover {
                        text-shadow: 0 0 5px rgba(0,0,0,.5);
                        background: rgb(176,152,84);
                        background: -moz-linear-gradient(top,  rgba(176,152,84,1) 1%, rgba(195,177,111,1) 50%, rgba(217,206,141,1) 100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(176,152,84,1)), color-stop(50%,rgba(195,177,111,1)), color-stop(100%,rgba(217,206,141,1)));
                        background: -webkit-linear-gradient(top,  rgba(176,152,84,1) 1%,rgba(195,177,111,1) 50%,rgba(217,206,141,1) 100%);
                        background: -o-linear-gradient(top,  rgba(176,152,84,1) 1%,rgba(195,177,111,1) 50%,rgba(217,206,141,1) 100%);
                        background: -ms-linear-gradient(top,  rgba(176,152,84,1) 1%,rgba(195,177,111,1) 50%,rgba(217,206,141,1) 100%);
                        background: linear-gradient(to bottom,  rgba(176,152,84,1) 1%,rgba(195,177,111,1) 50%,rgba(217,206,141,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b09854', endColorstr='#d9ce8d',GradientType=0 );
                    }
                }
            }
        }
        
        .sewing {
            // padding-left: 2vw;
            color: rgb(215,215,215);
            background: url(/img/bg-sewing.jpg) center no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            font-size: 2.2vmin;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            
            .title {
                margin-top: 16vh;
                margin-bottom: 5vh;
                text-transform: uppercase;
            }
            hr {
                width: 12vw;
                margin: 5vh auto;
                border-top: 1px solid rgb(137,137,137);
            }
            .info {
                text-align: center;
                width: 62vw;
                font-size: 2.2vmin;
                line-height: 4.5vmin;
                color: rgb(215,215,215);
                margin: 0 auto;
            }
        
            .order {
                margin-top: 5vh;
                height: 25vh;
                background-color: rgba(0,0,0,.3);
                
                .text {
                    padding: 4vh 0;
                }
                input, button {
                    width: 12.5%;
                    height: 5vh;
                    border: none;
                    border-radius: 1vmin;
                    text-indent: 1vw;
                    box-shadow: 0 0 0px 2px rgba(193,176,109,.9);
                    margin: 0px 0.5vw;
                    vertical-align: top;
                    color: rgb(32, 32, 32);
                    outline: 0;
                }
                button {
                    background: rgb(217,206,141);
                    background: -moz-linear-gradient(top, rgba(217,206,141,1) 0%, rgba(195,177,111,1) 50%, rgba(176,152,84,1) 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(217,206,141,1)), color-stop(50%,rgba(195,177,111,1)), color-stop(100%,rgba(176,152,84,1)));
                    background: -webkit-linear-gradient(top, rgba(217,206,141,1) 0%,rgba(195,177,111,1) 50%,rgba(176,152,84,1) 100%);
                    background: -o-linear-gradient(top, rgba(217,206,141,1) 0%,rgba(195,177,111,1) 50%,rgba(176,152,84,1) 100%);
                    background: -ms-linear-gradient(top, rgba(217,206,141,1) 0%,rgba(195,177,111,1) 50%,rgba(176,152,84,1) 100%);
                    background: linear-gradient(to bottom, rgba(217,206,141,1) 0%,rgba(195,177,111,1) 50%,rgba(176,152,84,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9ce8d', endColorstr='#b09854',GradientType=0 );
                    color: white;
                    text-indent: 0;
                    text-transform: uppercase;
                    font-size: 2vh;
                    line-height: 2vh;
                    
                    &:hover {
                        text-shadow: 0 0 5px rgba(0,0,0,.5);
                        background: rgb(176,152,84);
                        background: -moz-linear-gradient(top,  rgba(176,152,84,1) 1%, rgba(195,177,111,1) 50%, rgba(217,206,141,1) 100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(176,152,84,1)), color-stop(50%,rgba(195,177,111,1)), color-stop(100%,rgba(217,206,141,1)));
                        background: -webkit-linear-gradient(top,  rgba(176,152,84,1) 1%,rgba(195,177,111,1) 50%,rgba(217,206,141,1) 100%);
                        background: -o-linear-gradient(top,  rgba(176,152,84,1) 1%,rgba(195,177,111,1) 50%,rgba(217,206,141,1) 100%);
                        background: -ms-linear-gradient(top,  rgba(176,152,84,1) 1%,rgba(195,177,111,1) 50%,rgba(217,206,141,1) 100%);
                        background: linear-gradient(to bottom,  rgba(176,152,84,1) 1%,rgba(195,177,111,1) 50%,rgba(217,206,141,1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b09854', endColorstr='#d9ce8d',GradientType=0 );
                    }
                }
            }
        }
        
        .collections {
            // padding-left: 2vw;
            color: rgb(215,215,215);
            background: url(/img/bg-collections.jpg) center no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            font-size: 2.2vmin;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            
            .slider { 
                
                position: absolute;
                left: 18vw;
                top: 9vh;
                width: 64vw;
                height: 80vh;
                opacity: 0;
                
                &.animated {
                    opacity: 1;
                }
                
                .slide .item {
                    height: 40vh;
                    width: 30vh;
                    margin-bottom: 2vh;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    
                    .image {
                        width: 100%;
                        height: 100%;
                        img {

                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                    .overlay {
                        position: absolute;
                        top: 3vmin;
                        left: 3vmin;
                        height: calc(40vh - 6vh);
                        width: calc(30vh - 6vh);
                        background-color: rgba(255,255,255,.6);
                        box-shadow: 0 0 1vh 3.5vh rgba(0,0,0,.5);
                        color: black;
                        opacity: 1;
                        transition: all .5s;
                        transition-delay: .15s;
                        
                        hr {
                            width: 5vw;
                            margin: 2vh auto;
                            border-top: 2px solid rgba(0,0,0,.5);
                        }
                        
                        .desc1 {
                            text-transform: uppercase;
                            margin-top: 8vh;
                            font-family: Forum;
                        }
                    }
                    
                    &:hover {
                        .overlay {
                            transition: all .5s;
                            opacity: 0;
                        }
                    }
                }
                
                .slick-slide {
                    padding-left: 0.5vh;
                }
                .slick-slide .item {
                    cursor: pointer;
                    transition: all .5s;
                    transition-delay: .2s;
                    opacity: 0;
                    
                    .image {
                        transition: all 1s;
                        opacity: 0;
                    }
                }
                .slick-slide.slick-active .item {
                    transition: all .5s;
                    transition-delay: .2s;
                    opacity: 1;
                    .image {
                        transition: all 1s;
                        opacity: 1;
                    }
                }
                .slick-prev, .slick-next {
                    height: 107px;
                    width: 15px;
                    top: 50%;
                    margin-top: -53px;
                }
                .slick-prev:hover:before, .slick-next:hover:before { opacity: 1; }
                .slick-prev { left: -30px;}
                .slick-prev:before { content: url('/img/collection-arrow-left.png'); opacity: 0.5;}
                .slick-next { right: -30px;}
                .slick-next:before { content: url('/img/collection-arrow-right.png'); opacity: 0.5;}
            }
        }
        
        .collection {
            .items {
                position: absolute;
                left: 24vw;
                top: 0vh;
                width: 52vw;
                margin-bottom: 5vh;
                font-size: 0;
                
                .item {
                    position: relative;
                    display: inline-block;
                    height: 75vh;
                    height: 100%;
                    width: 25vw;
                    color: white;
                    text-transform: uppercase;
                    font-size: 1.6vh;
                    text-align: center;
                    cursor: pointer;
                    opacity: 0;
                    transition: all .5s;
                    margin-top: 5vh;
                    
                    &.animated {
                        opacity: 1;
                        transition: all .5s;
                    }
                    
                    &:nth-of-type(2n+1) {
                        margin-right: 2vw;
                    }
                    
                    a {
                        color: white;
                        text-decoration: none;
                    }
                    .image { 
                        width: 25vw;
                        
                        &.hoverImg {
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;
                            transition: all .5s;
                            transition-delay: .2s;
                            
                            &:hover {
                                opacity: 1;
                                transition: all .5s;
                            }
                        }
                        
                        img {
                            width: 25vw;
                        }
                    }

                    .itemName {
                        margin-top: 2vh;
                    }
                    .price {
                        position: relative;
                        margin-top: 1vh;

                        &:before, &:after {
                            content: "";
                            position: absolute;
                            border-top: 1px solid white;
                            width: 9vw;
                            display: block;
                            height: 0;
                            top: 50%;
                        }
                        &:before {
                            left: 0;
                        }
                        &:after {
                            right: 0;
                        }
                    }
                }
            }
        }
        
        .collection-item {
            color: rgb(215,215,215);
            background: url(/img/bg-blog.jpg) center no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            font-size: 2.2vmin;
            position: absolute;
            top: 0;
            left: 0;
            
            .wrapper {
                position: absolute;
                left: 21vw;
                top: 15vh;
                width: 58vw;
                height: 70vh;
                font-size: 0;
                
                .half {
                    position: relative;
                    display: inline-block;
                    height: 100%;
                    width: 49%;
                    color: white;
                    text-transform: uppercase;
                    font-size: 1.6vh;
                    text-align: center;
                    vertical-align: top;
                    
                    &:nth-of-type(2n+1){
                        margin-right: 2%;
                    }
                    
                    &.leftSide {
                        .mainImg {
                            height: 100%;
                            width: 100%;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                    
                    &.rightSide {
                        
                        .price {
                            position: relative;
                            margin-top: 1vh;
    
                            &:before, &:after {
                                content: "";
                                position: absolute;
                                border-top: 1px solid white;
                                width: 9vw;
                                display: block;
                                height: 0;
                                top: 50%;
                            }
                            &:before {
                                left: 0;
                            }
                            &:after {
                                right: 0;
                            }
                        }
                        
                        .description {
                            margin-top: 5vh;
                            text-transform: none;
                        }
                        
                        .otherImages {
                            position: absolute;
                            bottom: 0;
                            font-size: 0;
                            width: 100%;
                            
                            .image {
                                display: inline-block;
                                width: 33.33%;
                                height: 20vh;
                                margin-top: 1vh;
                                
                                img {
                                    height: 100%;
                                }
                                &.current {
                                    //box-shadow: 0 0 10px 5px rgba(0,0,0,.33);
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .blog {
            padding-left: 2vw;
            color: rgb(215,215,215);
            background: url(/img/bg-blog.jpg) center no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100vw;
            font-size: 2.2vmin;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            
            .wrapper {
                position: absolute;
                left: 21vw;
                top: 5vh;
                width: 54vw;
                height: 90vh;
                font-size: 0;

                .half {
                    position: relative;
                    display: inline-block;
                    // height: 55vh;
                    width: 49%;
                    vertical-align: top;
                    z-index: 2;
                    margin-bottom: 2vh;
                    
                    .title {
                        font-size: 2.5vh;
                        color: white;
                        text-align: center;
                        line-height: 5vh;
                        height: 5vh;
                        margin-bottom: 1vh;
                        margin-top: 0;
                        
                        img {
                            height: 5vh;
                        }
                    }

                    
                    &:nth-of-type(2n+1){
                        margin-right: 2%;
                    }
                    
                    .images {
                        border: solid 1px rgba(255,255,255,.5);
                        padding: 2vmin;
                        min-height: 50vh;
                        
                        .image {
                            opacity: 0;
                            display: inline-block;
                            vertical-align: top!important;
                            width: 32%;
                            &.image:nth-of-type(3n+2) {
                                margin-left: 2%;
                                margin-right: 2%;
                                margin-bottom: 2%;
                            }
                            &.image:nth-last-of-type(2){
                                margin-bottom: 0;
                            }
                            &.animated, &.hvr-grow {
                                opacity: 1;
                            }
                            
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                    
                    &.leftSide {

                    }
                    
                    &.rightSide {
                        
                    }
                }
                
                .videos {
                    opacity: 0;
                    
                    .title {
                        font-size: 2.5vh;
                        color: white;
                        text-align: center;
                        line-height: 5vh;
                        height: 5vh;
                        margin-top: 0;
                    }
                    
                    .videoSlider {
                        font-size: 1.6vmin;
                        margin-left: -.25vw;
                        margin-right: -.25vw;
                        height: 20vh;
                        .video, iframe {
                            position: relative;
                            height: 20vh;
                            .preview {
                                
                                img {
                                    width: 100%;
                                }
                            }
                            
                            .playIcon {
                                position: absolute;
                                top: 50%;
                                margin-top: -28px;
                                height: 57px;
                                width: 57px;
                                left: 50%;
                                margin-left: -28px;
                            }
                        }
                        iframe {
                            width: 100%;
                        }
                    }
                    hr {
                        width: 100%;
                        margin: 6vh auto;
                        border-top: 1px solid rgba(255,255,255,.5);
                    }
                }
                
                .title {
                    position: relative;
                    margin-top: 1vh;
    
                    &:before, &:after {
                        content: "";
                        position: absolute;
                        border-top: 1px solid rgba(255,255,255,.5);
                        width: 25%;
                        display: block;
                        height: 0;
                        top: 50%;
                    }
                    &:before {
                        left: 8%;
                    }
                    &:after {
                        right: 8%;
                    }
                }
            
                .slick-slide {
                    padding-left: 0.25vw;
                    padding-right: 0.25vw;
                }
                .slick-slide.video {
                    cursor: pointer;
                    transition: all .5s;
                    transition-delay: .2s;
                    opacity: 0;
                    
                    .preview {
                        transition: all 1s;
                        opacity: 0;
                    }
                }
                .slick-slide.slick-active.video {
                    transition: all .5s;
                    transition-delay: .2s;
                    opacity: 1;
                    .preview {
                        transition: all 1s;
                        opacity: 1;
                    }
                }
                .slick-prev, .slick-next {
                    height: 42px;
                    width: 42px;
                    top: 100%;
                    margin-top: 1vh;
                }
                .slick-prev:hover:before, .slick-next:hover:before { opacity: 1; }
                .slick-prev { left: 0;}
                .slick-prev:before { content: url('/img/videoArrowLeft.png'); opacity: 0.5;}
                .slick-next { right: 0;}
                .slick-next:before { content: url('/img/videoArrowRight.png'); opacity: 0.5;}
            }
        }
        
        .instagram, .sketchesMain {
            padding-left: 2vw;
            color: rgb(215,215,215);
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            
            .wrapper {
                position: absolute;
                left: 21vw;
                top: 4vh;
                width: 54vw;
                height: 90vh;
                font-size: 0;
                
                .title {
                    position: relative;
                    font-size: 2.2vmin;
                    margin-bottom: 2vh;
    
                    &:before, &:after {
                        content: "";
                        position: absolute;
                        border-top: 1px solid rgba(255,255,255,.5);
                        width: 25%;
                        display: block;
                        height: 0;
                        top: 50%;
                    }
                    &:before {
                        left: 8%;
                    }
                    &:after {
                        right: 8%;
                    }
                }
                
                .images {
                        
                    .image {
                        display: inline-block;
                        vertical-align: middle;
                        width: 15%;
                        margin-right: 2%;
                        margin-bottom: 2%;
                        
                        &.image:nth-of-type(6n) {
                            margin-right: 0;
                            
                        }
                            
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
                
                
            }
            
        }
    }
}