@media  (min-width: 1367px) and (max-width: 1680px){
   
}

@media  (min-width: 1281px) and (max-width: 1366px){
    .st-container { 
        .st-content {
            .blog {
                .wrapper {
                    .videos hr {
                        width: 100%;
                        margin: 9vh auto 0;
                    }
                }
            }
        }
    }
}

@media  (min-width: 1025px) and (max-width: 1280px){
    
}

@media  (min-width: 769px) and (max-width: 1024px){
    .st-container {
        
        .st-menu {
            width: 200px;
            background: #1c1c1c;
        }
        
        #menuToggle {
            width: 3vw;
            
            .text {
                width: 9vh;
                transform: 
                    rotate3d(0, 0, 1, -90deg) 
                    translate3d(0, -32px, 0);
            }
        }
        
        .st-content {
            .main {
                background: url("/img/bg-main-full-1024.jpg") center no-repeat;
                background-size: cover;
                
                #mainLogo {
                    height: 19vh;
                    width: 34vw;
                    top: 30vh;
                    left: 20vw;
                }
            }
            .collections .slider {
                position: absolute;
                left: 10vw;
                top: 15vh;
                width: 80vw;
                height: 70vh;
                
                .slide {
                    padding-left: 1vw;
                    
                    .item {
                        height: 35vh;
                        width: 26vh;
                        
                        .overlay {
                            font-size: 2.6vmin;
                            top: 2vmin;
                            left: 2vmin;
                            height: calc(35vh - 4vh);
                            width: calc(26vh - 4vh);
                            box-shadow: 0 0 1vh 3.5vh rgba(0,0,0,.5);
      
                            hr {
                                width: 5vw;
                                margin: 2vh auto;
                                border-top: 2px solid rgba(0,0,0,.5);
                            }
                            
                            .desc1 {
                                text-transform: uppercase;
                                margin-top: 5vh;
                                font-family: Forum;
                            }
                        }
                    }
                }
            }
            
            .collection .items {
                left: 15vw;
                width: 70vw;
                
                .item {
                    height: 78vh;
                    width: 34vw;
                    font-size: 2vmin;
                    
                    .image {
                        width: 34vw;
                        
                        img {
                            width: 34vw;
                        }
                    }
                }
            }
            
            .collection-item {
                
                .wrapper {
                    left: 10vw;
                    width: 80vw;
                    top: 15vh;
                    height: 70vh;
                    
                    .half {
                        font-size: 2.4vmin;
                        
                        &.rightSide {
                            
                            .description {
                                margin-top: 3vh;
                                font-size: 2.2vmin;
                            }
                            
                            .otherImages .image {
                                margin-top: 1.5vh;
                            }
                        }
                    }
                }
            }
            
            .blog {
                
                .wrapper {
                    left: 13vw;
                    width: 74vw;
                    top: 2vh;
                    height: 96vh;
                    
                    .half .images {
                        min-height: 51vh;
                    }
                    
                    .videos {
                        .title {
                            font-size: 3vh;
                        }
                        
                        hr {
                            margin: 9vh auto 0;
                        }
                    }
                }
            }
            
            .instagram, .sketchesMain {
                
                .wrapper {
                    left: 10vw;
                    width: 80vw;
                }
            }
            
            .about {
                
                .aboutLogo {
                    margin-top: 19vh;
                }
                
                .text {
                    font-size: 2.5vmin;
                }
                
                hr {
                    width: 8vw;
                    margin: 4vh auto;
                }
            }
            
            .sewing {
                font-size: 2.6vmin;
                
                .title {
                    margin-top: 12vh;
                }
                
                hr {
                    width: 18vw
                }
                
                .info {
                    font-size: 2.5vmin;
                }
                
                .order {
                    input, button {
                        width: 20%;
                    }
                }
            }
            
            .contact {
                font-size: 2.6vmin;
                
                .social img {
                    height: 7vmin;
                    width: 7vmin;
                }
                
                .order {
                    input, button {
                        width: 20%;
                    }
                }
                
                .whatsapp {
                    a {
                        font-size: 4.3vmin;
                        line-height: 5vh;
                    }
                    img {
                        height: 5vmin;
                        width: 5vmin;
                    }
                }
            }
        
        }
    }
}

@media  (min-width: 481px) 
and (max-width: 768px)
and (orientation : portrait)
, (min-width: 481px) 
and (max-width: 768px)
and (not handheld){
   .st-container {
        
        .st-menu {
            width: 200px;
            background: #1c1c1c;
            font-size: 1.8vh;
        }
        
        #menuToggle {
            width: 5vw;
            
            .text {
                width: 7vh;
                transform: 
                    rotate3d(0, 0, 1, -90deg) 
                    translate3d(0, -28px, 0);
            }
        }
        
        .st-content {
            .main {
                background: url("/img/bg-main-full-768.jpg") center no-repeat;
                background-size: cover;
                
                #mainLogo {
                    height: 15vh;
                    width: 48vw;
                    top: 25vh;
                    left: 10vw;
                }
            }
            
            .collections .slider {
                position: absolute;
                left: 10vw;
                top: 14vh;
                width: 80vw;
                height: 74vh;
                
                .slide {
                    padding-left: 1.5vw;
                    
                    .item {
                        height: 36vh;
                        width: 29vh;
                        
                        .overlay {
                            top: 2vmin;
                            left: 2vmin;
                            height: calc(37vh - 4vh);
                            width: calc(30vh - 4vh);
                            box-shadow: 0 0 1vh 3.5vh rgba(0,0,0,.5);
                            font-size: 3.5vmin;
      
                            hr {
                                width: 8vw;
                                margin: 3vh auto;
                                border-top: 2px solid rgba(0,0,0,.5);
                            }
                            
                            .desc1 {
                                text-transform: uppercase;
                                margin-top: 5vh;
                                font-family: Forum;
                            }
                        }
                    }
                }
            }
            
            .collection .items {
                left: 10vw;
                width: 80vw;
                
                .item {
                    height: 80vh;
                    font-size: 2vh;
                    width: 80vw;
                    
                    .image {
                        width: 80vw;
                        
                        img {
                            width: 64vw;
                        }
                    }
                }
            }
            
            .collection-item {
                background-image: none;
                
                .wrapper {
                    left: 10vw;
                    width: 80vw;
                    top: 2vh;
                    
                    .half {
                        font-size: 2.3vmin;
                        margin: 0 auto;
                        display: block;
                        height: 48vh;
                        width: 66%;
                        
                        &:nth-of-type(2n+1){
                            margin-right: auto;
                        }
                        
                        &.rightSide {
                            width: 80vw;
                            height: 71vh;
                            margin-bottom: 3vh;
                            margin-top: 2vh;
                            
                            .description {
                                margin-top: 3vh;
                            }
                            
                            .otherImages .image {
                                height: 24vh;
                                margin-top: 2vh;
                            }
                        }
                    }
                }
            }
            
            .blog {
                background: url("/img/bg-blog768.jpg") center no-repeat;
                background-size: cover;
                
                .wrapper {
                    left: 8vw;
                    width: 89vw;
                    height: 40vh;
                    
                    .half {
                        
                        .images {
                            min-height: 34vh;
                        }
                    }
                    
                    .videos {
                        .title {
                            font-size: 3vh;
                        }
                        
                        hr {
                            margin: 7vh auto 0;
                        }
                        
                        .videoSlider {
                            margin-right: 0;
                        }
                    }
                }
            }
            
            .instagram, .sketchesMain {
                
                .wrapper {
                    left: 10vw;
                    width: 80vw;
                    
                    .images .image.image {
                        width: 23%;
                        
                        &:nth-of-type(4n) {
                            margin-right: 0;
                        }
                        
                        &:nth-of-type(6n) {
                            margin-right: 2%;
                        }
                    }
                }
            }
            
            .about {
                
                .aboutLogo {
                    margin-top: 14vh;
                }
                
                hr {
                    width: 16vw;
                    margin: 7vh auto;
                }
                .text {
                    width: 70vw;
                    font-size: 2.5vmin;
                }
            }
            
            .sewing {
                font-size: 3vmin;
                
                .title {
                    margin-top: 7vh;
                    margin-bottom: 4vh;
                }
                
                .info {
                    width: 80vw;
                    font-size: 2.5vmin;
                }
                
                hr {
                    width: 18vw
                    margin: 3vh auto;
                }
                
                .order {
                    margin-top: 3vh;
                    height: 43vh;
                    
                    .text {
                        padding: 3vh 0 2vh;
                    }
                    
                    input, button {
                        width: 52%;
                        margin: 1vh auto;
                    }
                }
            }
            
            .contact {
                font-size: 3vmin;
                
                .title {
                    margin-top: 15vh;
                    font-size: 3.5vmin;
                }

                .social img {
                    height: 8vmin;
                    width: 8vmin;
                }
                
                .whatsapp {
                    img {
                        height: 5vmin;
                        width: 5vmin;
                    }
                    a {
                        font-size: 5vmin;
                        line-height: 5vmin;
                    }
                }
                .order {
                    margin-top: 8vh;
                    height: 43vh;
                    
                    .text {
                        padding: 3vh 0 2vh;
                    }
                    
                    input, button {
                        width: 52%;
                        margin: 1vh auto;
                    }
                }
                
            }
        
        }
    }
}

@media  (max-width: 480px){
      .st-container {
        
        .st-menu {
            width: 160px;
            background: #1c1c1c;
            font-size: 4vmin;
            
            ul li a {
                padding: 1vh 0;
            }
            .menuButtefly {
                display: none;
            }
        }
        
        #menuToggle {
            width: 8vw;
            
            .text {
                width: 7vh;
                font-size: 4vmin;
                transform: 
                    rotate3d(0, 0, 1, -90deg) 
                    translate3d(0, -10px, 0);
            }
        }
        
        .st-content {
            .main {
                background: url("/img/bg-main-full-768.jpg") center no-repeat;
                background-size: cover;
                
                #mainLogo {
                    height: 15vh;
                    width: 48vw;
                    top: 25vh;
                    left: 10vw;
                }
            }
            
            .collections .slider {
                position: absolute;
                left: 10vw;
                top: 3vh;
                width: 80vw;
                height: 94vh;
                
                .slide {
                    padding-left: 0;
                    display: inline-block;
                    width: 39vw;
                    
                    &:nth-of-type(2n+1) {
                        margin-right: 1vw;
                    }
                    
                    .item {
                        height: 36vh;
                        width: 39vw;
                        margin-bottom: 1vh;
                        
                        .overlay {
                            top: 5%;
                            left: 8%;
                            height: 90%;
                            width: 84%;
                            box-shadow: 0 0 1vh 3.5vh rgba(0,0,0,.5);
                            font-size: 4vmin;
      
                            hr {
                                width: 12vw;
                                margin: 2vh auto;
                                border-top: 2px solid rgba(0,0,0,.5);
                            }
                            
                            .desc1 {
                                text-transform: uppercase;
                                margin-top: 5vh;
                                font-family: Forum;
                            }
                        }
                    }
                }
            }
            
            .collection .items {
                left: 10vw;
                width: 80vw;
                
                .item {
                    height: 71vh;
                    font-size: 4vmin;
                    width: 80vw;
                    
                    .image {
                        width: 80vw;
                        
                        img {
                            width: 64vw;
                        }
                    }
                }
            }
            
            .collection-item {
                background-image: none;
                
                .wrapper {
                    left: 10vw;
                    width: 80vw;
                    top: 2vh;
                    
                    .half {
                        font-size: 4vmin;
                        margin: 0 auto;
                        display: block;
                        height: 48vh;
                        width: 66%;
                        
                        &:nth-of-type(2n+1){
                            margin-right: auto;
                        }
                        
                        &.rightSide {
                            width: 80vw;
                            height: 86vh;
                            margin-bottom: 3vh;
                            margin-top: 2vh;
                            
                            .description {
                                margin-top: 3vh;
                            }
                            
                            .otherImages {
                                position: relative;
                                
                                .image {
                                    width: 40vw;
                                    height: 32vh;
                                    margin-top: 2vh;
                                }
                            }
                        }
                    }
                }
            }
            
            .blog {
                background: url("/img/bg-blog768.jpg") center no-repeat;
                background-size: cover;
                
                .wrapper {
                    left: 13vw;
                    top: 3vh;
                    width: 80vw;
                    height: auto;
                    
                    .half {
                        width: 100%;
                        
                        .images {
                            min-height: 34vh;
                        }
                    }
                    
                    .videos {
                        .title {
                            font-size: 3vh;
                        }
                        
                        hr {
                            margin: 11vh auto 2vh;
                        }
                        
                        .videoSlider {
                            margin-right: 0;
                        }
                    }
                }
            }
            
            .instagram, .sketchesMain {
                
                .wrapper {
                    left: 10vw;
                    width: 80vw;
                    
                    .images .image.image {
                        width: 23%;
                        
                        &:nth-of-type(4n) {
                            margin-right: 0;
                        }
                        
                        &:nth-of-type(6n) {
                            margin-right: 2%;
                        }
                    }
                }
            }
            
            .about {
                
                .aboutLogo {
                    margin-top: 5vh;
                }
                
                hr {
                    width: 16vw;
                    margin: 3vh auto;
                }
                .text {
                    width: 80vw;
                    font-size: 4vmin;
                    line-height: 6vmin;
                }
            }
            
            .sewing {
                font-size: 4vmin;
                height: auto;
                
                .title {
                    margin-top: 3vh;
                    margin-bottom: 4vh;
                }
                
                .info {
                    width: 80vw;
                    font-size: 4vmin;
                    line-height: 6vmin;
                }
                
                hr {
                    width: 18vw;
                    margin: 2vh auto;
                }
                
                .order {
                    margin-top: 3vh;
                    height: 47vh;
                    margin-bottom: 3vh;
                    
                    .text {
                        padding: 3vh 14vw 2vh;
                    }
                    
                    input, button {
                        width: 52%;
                        margin: 1vh auto;
                    }
                }
            }
            
            .contact {
                font-size: 4vmin;
                
                .title {
                    margin-top: 15vh;
                    font-size: 4vmin;
                }

                .social img {
                    height: 8vmin;
                    width: 8vmin;
                }
                
                .whatsapp {
                    img {
                        height: 5vmin;
                        width: 5vmin;
                    }
                    a {
                        font-size: 5vmin;
                        line-height: 5vmin;
                    }
                }
                .order {
                    margin-top: 8vh;
                    height: 43vh;
                    
                    .text {
                        padding: 3vh 0 2vh;
                    }
                    
                    input, button {
                        width: 52%;
                        margin: 1vh auto;
                    }
                }
                
            }
        
        }
    }
}

 
// iphone 4 / 4s 
@media only screen  
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (-webkit-min-device-pixel-ratio: 2){
      .st-container {
        
        .st-menu {
            width: 160px;
            background: #1c1c1c;
            font-size: 4vmin;
            
            ul li a {
                padding: 1vh 0;
            }
            .menuButtefly {
                display: none;
            }
        }
        
        #menuToggle {
            width: 8vw;
            
            .text {
                width: 7vh;
                font-size: 4vmin;
                transform: 
                    rotate3d(0, 0, 1, -90deg) 
                    translate3d(0, -10px, 0);
            }
        }
        
        .st-content {
            .main {
                background: url("/img/bg-main768.jpg") center right no-repeat;
                background-size: cover;
                
                #mainLogo {
                    height: 15vh;
                    width: 48vw;
                    top: 25vh;
                    left: 10vw;
                }
            }
            
            .collections {
                background-image: none;

                
                .slider {
                position: absolute;
                left: 13vw;
                top: 3vh;
                width: 80vw;
                height: 94vh;

                
                .slide {
                    padding-left: 0;
                    display: inline-block;
                    width: 39vw;
                    &.last1 {
                        width: 80vw;
                        .item {
                            display: inline-block;
                        }
                    }
                    &:nth-of-type(2n+1) {
                        margin-right: 1vw;
                    }
                    
                    .item {
                        height: 36vh;
                        width: 39vw;
                        margin-bottom: 1vh;
                        
                        
                        .image {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .overlay {
                            top: 5%;
                            left: 8%;
                            height: 90%;
                            width: 84%;
                            box-shadow: 0 0 1vh 3.5vh rgba(0,0,0,.5);
                            font-size: 4vmin;
      
                            hr {
                                width: 12vw;
                                margin: 2vh auto;
                                border-top: 2px solid rgba(0,0,0,.5);
                            }
                            
                            .desc1 {
                                text-transform: uppercase;
                                margin-top: 5vh;
                                font-family: Forum;
                            }
                        }
                    }
                }
            }
            }
            
            .collection .items {
                left: 10vw;
                width: 80vw;
                
                .item {
                    // height: 71vh;
                    height: auto;
                    font-size: 4vmin;
                    width: 80vw;
                    
                    .image {
                        width: 80vw;
                        
                        img {
                            width: 64vw;
                        }
                    }
                }
            }
            
            .collection-item {
                background-image: none;
                
                .wrapper {
                    left: 12vw;
                    width: 80vw;
                    top: 2vh;
                    
                    .half {
                        font-size: 4vmin;
                        margin: 0 auto;
                        display: block;
                        height: 48vh;
                        width: 66%;
                        
                        &:nth-of-type(2n+1){
                            margin-right: auto;
                        }
                        &.leftSide {
                            height: auto;
                            width: 80%;
                        }
                        &.rightSide {
                            width: 80vw;
                            height: 86vh;
                            margin-bottom: 3vh;
                            margin-top: 2vh;
                            
                            .description {
                                margin-top: 3vh;
                            }
                            
                            .otherImages {
                                position: relative;
                                
                                .image {
                                    width: 40vw;
                                    // height: 32vh;
                                    height: 27vh;
                                    margin-top: 2vh;
                                }
                            }
                        }
                    }
                }
            }
            
            .blog {
                background: url("/img/bg-blog768.jpg") center no-repeat;
                background-size: cover;
                
                .wrapper {
                    left: 13vw;
                    top: 3vh;
                    width: 80vw;
                    height: auto;
                    
                    .half {
                        width: 100%;
                        
                        .images {
                            min-height: 34vh;
                            .image {
                                width: 31%;
                                height: auto;
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                    }
                    
                    .videos {
                        .title {
                            font-size: 3vh;
                        }
                        
                        hr {
                            margin: 11vh auto 2vh;
                        }
                        
                        .videoSlider {
                            margin-right: 0;
                        }
                    }
                }
            }
            
            .instagram, .sketchesMain {
                
                .wrapper {
                    left: 10vw;
                    width: 80vw;
                    
                    .images .image{

                        width: 31%;
                        height: auto;
                        img {
                                    width: 100%;
                                    height: auto;
                                }
                        
                        &:nth-of-type(4n) {
                            margin-right: 0;
                        }
                        
                        &:nth-of-type(6n) {
                            margin-right: 2%;
                        }
                    }
                }
            }
            
            .about {
                
                .aboutLogo {
                    margin-top: 5vh;
                }
                
                hr {
                    width: 16vw;
                    margin: 3vh auto;
                }
                .text {
                    width: 80vw;
                    font-size: 4vmin;
                    line-height: 6vmin;
                }
            }
            
            .sewing {
                font-size: 4vmin;
                height: auto;
                
                .title {
                    margin-top: 3vh;
                    margin-bottom: 4vh;
                }
                
                .info {
                    width: 80vw;
                    font-size: 4vmin;
                    line-height: 6vmin;
                }
                
                hr {
                    width: 18vw;
                    margin: 2vh auto;
                }
                
                .order {
                    margin-top: 3vh;
                    height: 47vh;
                    margin-bottom: 3vh;
                    
                    .text {
                        padding: 3vh 14vw 2vh;
                    }
                    
                    input, button {
                        width: 52%;
                        margin: 1vh auto;
                    }
                }
            }
            
            .contact {
                font-size: 4vmin;
                
                .title {
                    margin-top: 15vh;
                    font-size: 4vmin;
                }

                .social img {
                    height: 8vmin;
                    width: 8vmin;
                }
                
                .whatsapp {
                    img {
                        height: 5vmin;
                        width: 5vmin;
                    }
                    a {
                        font-size: 5vmin;
                        line-height: 5vmin;
                    }
                }
                .order {
                    margin-top: 8vh;
                    height: 43vh;
                    
                    .text {
                        padding: 3vh 0 2vh;
                    }
                    
                    input, button {
                        width: 52%;
                        margin: 1vh auto;
                    }
                }
                
            }
        
        }
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
    .st-container {
        
        .st-menu {
            width: 200px;
            background: #1c1c1c;
            
            .menuButtefly {
                display: none;
            }
            ul li a {
                font-size: 3.7vmin;
            }
            hr {
                margin-top: 4vmin;
                margin-bottom: 4vmin;
            }
        }
        
        #menuToggle {
            width: 4vw;
            
            .text {
                width: 18vh;
                transform: 
                    rotate3d(0, 0, 1, -90deg) 
                    translate3d(0, -23px, 0);
            }
        }
        
        .st-content {
            .main #mainLogo {
                height: 19vh;
                width: 34vw;
                top: 30vh;
                left: 20vw;
            }
            .collections .slider {
                position: absolute;
                left: 10vw;
                top: 3vh;
                width: 81vw;
                height: 94vh;
                
                .slide {
                    padding-left: 1vw;
                    
                    .item {
                        height: 45vh;
                        width: 34vh;
                        
                        .overlay {
                            font-size: 3.7vmin;
                            top: 2vmin;
                            left: 2vmin;
                            height: 41vh;
                            width: 30vh;
                            box-shadow: 0 0 1vh 3.5vh rgba(0,0,0,.5);
      
                            hr {
                                width: 5vw;
                                margin: 2vh auto;
                                border-top: 2px solid rgba(0,0,0,.5);
                            }
                            
                            .desc1 {
                                text-transform: uppercase;
                                margin-top: 5vh;
                                font-family: Forum;
                            }
                        }
                    }
                }
            }
            
            .collection .items {
                left: 15vw;
                width: 70vw;
                
                .item {
                    height: 78vh;
                    width: 34vw;
                    font-size: 3.5vmin;
                    
                    .image {
                        width: 34vw;
                        
                        img {
                            width: 34vw;
                        }
                    }
                }
            }
            
            .collection-item {
                
                .wrapper {
                    left: 10vw;
                    width: 80vw;
                    top: 5vh;
                    height: 90vh;
                    
                    .half {
                        font-size: 3.5vmin;
                        
                        &.rightSide {
                            
                            .description {
                                margin-top: 3vh;
                                font-size: 3vmin;
                            }
                            
                            .otherImages .image {
                                margin-top: 1.5vh;
                                height: 25vh;
                            }
                        }
                    }
                }
            }
            
            .blog {
                background: none;
                .wrapper {
                    left: 8vw;
                    width: 86vw;
                    top: 2vh;
                    height: auto;
                    
                    .half {
                        .title {
                            font-size: 4vh;
                            
                            img {
                                height: 7vh;
                            }
                        }
                        .images {
                            min-height: 74vh;
                        }
                    }
                    
                    .videos {
                        .title {
                            font-size: 4vh;
                            line-height: 8vh;
                            height: 9vh;
                        }
                        
                        hr {
                            margin: 12vh auto 2vh;
                        }
                    }
                }
            }
            
            .instagram, .sketchesMain {
                
                .wrapper {
                    left: 10vw;
                    width: 80vw;
                    height: auto;
                    
                    .title img {
                        height: 12vh;
                    }
                    .images .image.image {
                        width: 31%;
                        
                        &:nth-of-type(3n) {
                             margin-right: 0;
                        }
                        
                        &:nth-of-type(6n) {
                            // margin-right: 2%;
                        }
                    }
                }
            }
            
            .about {
                
                .aboutLogo {
                    margin-top: 15vh;
                    height: 30vh;
                }
                
                .text {
                    font-size: 5vmin;
                    line-height: 7vmin;
                }
                
                hr {
                    width: 14vw;
                    margin: 6vh auto;
                }
            }
            
            .sewing {
                font-size: 3.7vmin;
                
                .title {
                    margin-top: 8vh;
                }
                
                hr {
                    width: 18vw
                }
                
                .info {
                    font-size: 3.7vmin;
                    line-height: 5vmin;
                    width: 86vw;
                }
                
                .order {
                    height: 32vh;
                    
                    input, button {
                        width: 20%;
                        height: 7vh;
                        font-size: 3vh;
                    }
                    button {
                        padding: 6px 9px;
                    }
                }
            }
            
            .contact {
                font-size: 4vmin;
                .title {
                    margin-top: 14vh;
                }
                .social img {
                    height: 7vmin;
                    width: 7vmin;
                }
                
                .order {
                    height: 32vh;
                    
                    input, button {
                        width: 20%;
                        height: 7vh;
                        font-size: 3vh;
                    }
                    button {
                        padding: 6px 9px;
                    }
                }
                
                .whatsapp {
                    a {
                        font-size: 4.3vmin;
                        line-height: 5vh;
                    }
                    img {
                        height: 5vmin;
                        width: 5vmin;
                    }
                }
            }
        
        }
    }
}