//------------------------------------------------------------------------------ 
// StartPage
//------------------------------------------------------------------------------
body {
    margin: 0;
    display: block;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
.error {
    position: absolute;
    font-size: 4vmin;
    top: 68vh;
    width: 100%;
    text-shadow: 2px 2px 8px rgba(0,0,0,.5);
    text-align: center;
    animation: upper 10s infinite ease-in-out;
    
    &:hover {
        animation:none;
        opacity: 1;  
    }
}
@keyframes upper {
  0% {
    opacity: .1;
  }
  30%{
    opacity: .9;
  }
  70%{
    opacity: .1;
  }
  100% {
    opacity: .1;
  }
}

.startPage {
    height: 100vh;
    width: 100vw;
    background: url(/img/start.jpg) center no-repeat;
    background-size: cover;
    
    opacity: 0;
    transition: all .5s;
    
    &.active {
        opacity: 1;
        transition: all .5s;
    }

    a {
        width: 27vw;
        height: 15vh;
        position: absolute;
        left: 37.5vw;
        top: 51vh;
        background: url(/img/startLogo.png) center no-repeat;
        background-size: contain;
    }
}

.svg-loader {
    position: absolute;
    top: 50vh;
    left: 50vw;
    height: 10vh;
    width: 8vw;
    // margin-left: -4vw;
    // margin-top: -5vh;
margin-left: -2.5vw;
margin-top: -12vh;
    opacity: 0;
    transition: all .5s;
    
    &.active {
        opacity: 1;
        transition: all .5s;
    }
}

.bf {
    position: fixed;
    height: 157px;
    width: 235px;
    cursor: pointer;
    
    top: 33vh;
    left: 45.5vw;
            
    transform-style: preserve-3d;
    transform:
        perspective(250px);

    .bf-body {
        position: absolute;
        left: 47.234%;
        top: 0;
        
        height: 100%;
        width: 5.532%;
        
        background: url(/img/bf-body.png) center no-repeat;
        background-size: cover;
        
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 57%;
            left: -30%;
            height: 5%;
            width: 160%;
            border-radius: 50%;
            background-color: rgba(0,0,0,0.33);;
            box-shadow: 0 0 7vmin 4vmin rgba(0,0,0,0.33);
        }
    }
    
    .bf-left-wing {
        position: absolute;
        left: 0;
        top: 0;
        
        height: 100%;
        width: 47.234%;
        
        background: url(/img/bf-left-wing.png) center no-repeat;
        background-size: cover;
        
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 30%;
            left: 60%;
            height: 50%;
            width: 0;
            border-radius: 50%;
            box-shadow: 0 0 8vmin 3vmin rgba(0,0,0,0.3);
        }
        
        transform-origin: 100% 0;
        
        animation: left-wing-flapping 7s infinite ease-in-out;
    }
    
    .bf-right-wing {
        position: absolute;
        left: 52.766%;
        top: 0;
        
        height: 100%;
        width: 47.234%;
        
        background: url(/img/bf-right-wing.png) center no-repeat;
        background-size: cover;
        
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 30%;
            left: 40%;
            height: 50%;
            width: 0;
            border-radius: 50%;
            box-shadow: 0 0 8vmin 3vmin rgba(0,0,0,0.3);
        }
        
        transform-origin: 0% 0;
        
        animation: right-wing-flapping 7s infinite ease-in-out;
    }
    
    &:hover {
        
        .bf-left-wing {
            animation: left-wing-flying .5s infinite linear;
        }
        
        .bf-right-wing {
            animation: right-wing-flying .5s infinite linear;
            
        }
    }
}

.bf.active {
    -webkit-animation: main-bf-flying 3s 1 ;
    animation: main-bf-flying 3s 1 ;
    
    transform-style: flat;
    
        .bf-left-wing {
            animation: left-wing-flying .5s infinite linear;
        }
        
        .bf-right-wing {
            animation: right-wing-flying .5s infinite linear;
            
        }
}

.bf:nth-of-type(2) {
top: 72vh;
left: 64vw;

    
    height: 140px;
    width: 200px;
            
    transform-style: preserve-3d;
    transform:
        perspective(900px)
        rotate3d(0,0,1,20deg);
        
    .bf-left-wing {
        animation: left-wing-flapping 5.2s -1.5s infinite linear;
    }
    
    .bf-right-wing {
        animation: right-wing-flapping 5.2s -1.5s infinite linear;
    }
    
    &:hover {
        
        .bf-left-wing {
            animation: left-wing-flying .47s infinite linear;
        }
        
        .bf-right-wing {
            animation: right-wing-flying .47s infinite linear;
            
        }
    }
}

.bf:nth-of-type(3) {
top: 60vh;
left: 10vw;
    
    height: 140px;
    width: 200px;
            
    transform-style: preserve-3d;
    transform:
        perspective(900px)
        rotate3d(0,0,1,-45deg);
        
    .bf-left-wing {
        animation: left-wing-flapping 5.5s -2s infinite linear;
    }
    
    .bf-right-wing {
        animation: right-wing-flapping 5.5s -2s infinite linear;
    }
    
    &:hover {
        
        .bf-left-wing {
            animation: left-wing-flying .45s infinite linear;
        }
        
        .bf-right-wing {
            animation: right-wing-flying .45s infinite linear;
            
        }
    }
}

.bf:nth-of-type(4) {
top: 20vh;
left: 20vw;
    
    height: 120px;
    width: 180px;
            
    transform-style: preserve-3d;
    transform:
        perspective(900px)
        rotate3d(0,0,1,200deg);
        
    .bf-left-wing {
        animation: left-wing-flapping 5s -3s infinite linear;
    }
    
    .bf-right-wing {
        animation: right-wing-flapping 5s -3s infinite linear;
    }
    
    &:hover {
        
        .bf-left-wing {
            animation: left-wing-flying .4s -.3s infinite linear;
        }
        
        .bf-right-wing {
            animation: right-wing-flying .4s -.3s infinite linear;
            
        }
    }
}

.bf:nth-of-type(5) {
top: 8vh;
left: 75vw;
    
    height: 130px;
    width: 190px;
            
    transform-style: preserve-3d;
    
    animation: playing-bfs 9s infinite cubic-bezier(.51,.79,.69,.75);
        
    .bf-left-wing {
        animation: left-wing-flying .36s infinite linear;
    }
        
    .bf-right-wing {
        animation: right-wing-flying .36s -.3s infinite linear;
    }
}

.bf:nth-of-type(6) {
top: 8vh;
left: 70vw;
    
    height: 100px;
    width: 150px;
            
    transform-style: preserve-3d;
    
    -webkit-animation: playing-bfs 9s -2s infinite cubic-bezier(.51,.79,.69,.75);
    animation: playing-bfs 9s -2s infinite cubic-bezier(.51,.79,.69,.75);

        
    .bf-left-wing {
        animation: left-wing-flying .3s infinite linear;
    }
        
    .bf-right-wing {
        animation: right-wing-flying .3s -.3s infinite linear;
    }
}





@media  (min-width: 1024px) and (max-width: 1366px){
    .startPage {
        a.startLogo {
            width: 27vw;
            height: 15vh;
            left: 37.5vw;
            top: 58vh;
        }
    
        .bf {
            height: 157px;
            width: 235px;
            
            top: 31vh;
            left: 42.5vw;
        }
        
        
        .bf:nth-of-type(2) {
            top: 74vh;
            left: 63vw;
            height: 120px;
            width: 170px;
        }
        
        .bf:nth-of-type(3) {
            top: 60vh;
            left: 10vw;
            height: 140px;
            width: 200px;
            transform:
                perspective(900px)
                rotate3d(0,0,1,-15deg);
        }
        
        .bf:nth-of-type(4) {
            top: 17vh;
            left: 14vw;
            height: 110px;
            width: 160px;
        }
        
        .bf:nth-of-type(5) {
            top: 4vh;
            left: 72vw;
            height: 110px;
            width: 160px;
            animation: playing-bfs-1024 9s infinite cubic-bezier(.51,.79,.69,.75);
        }
        
        .bf:nth-of-type(6) {
            top: 6vh;
            left: 69vw;
            height: 80px;
            width: 110px;
            animation: playing-bfs-1024 9s -2s infinite cubic-bezier(.51,.79,.69,.75);
        }
    }
}

@media  (min-width: 1024px) and (max-width: 1280px){
    .startPage {
        a.startLogo {
            width: 27vw;
            height: 15vh;
            left: 37.5vw;
            top: 58vh;
        }
    
        .bf {
            height: 157px;
            width: 235px;
            top: 36vh;
            left: 39.5vw;
        }
        
        
        .bf:nth-of-type(2) {
            top: 74vh;
            left: 63vw;
            height: 120px;
            width: 170px;
        }
        
        .bf:nth-of-type(3) {
            top: 60vh;
            left: 10vw;
            height: 140px;
            width: 200px;
        }
        
        .bf:nth-of-type(4) {
            top: 16vh;
            left: 15vw;
            height: 110px;
            width: 160px;
        }
        
        .bf:nth-of-type(5) {
            top: 5vh;
            left: 75vw;
            height: 110px;
            width: 160px;
            animation: playing-bfs-1024 9s infinite cubic-bezier(.51,.79,.69,.75);
        }
        
        .bf:nth-of-type(6) {
            top: 4vh;
            left: 74vw;
            height: 80px;
            width: 110px;
            animation: playing-bfs-1024 9s -2s infinite cubic-bezier(.51,.79,.69,.75);
        }
    }
}



@keyframes left-wing-flying {
    0%	    { transform: rotate3d(0,1,0,30deg); }
    16.6%	{ transform: rotate3d(0,1,0,45deg); }
    33.3%	{ transform: rotate3d(0,1,0,60deg); }
    50%	    { transform: rotate3d(0,1,0,45deg); }
    66.6%	{ transform: rotate3d(0,1,0,30deg); }
    83.3%   { transform: rotate3d(0,1,0,0deg); }
    100%	{ transform: rotate3d(0,1,0,30deg); }
}
@keyframes right-wing-flying {
    0%	    { transform: rotate3d(0,1,0,-30deg); }
    16.6%	{ transform: rotate3d(0,1,0,-45deg); }
    33.3%	{ transform: rotate3d(0,1,0,-60deg); }
    50%	    { transform: rotate3d(0,1,0,-45deg); }
    66.6%	{ transform: rotate3d(0,1,0,-30deg); }
    83.3%   { transform: rotate3d(0,1,0,0deg); }
    100%	{ transform: rotate3d(0,1,0,-30deg); }
}

@keyframes left-wing-flapping {
    0%	{ transform: rotate3d(0,1,0,30deg); }
    20%	{ transform: rotate3d(0,1,0,25deg); }
    31%	{ transform: rotate3d(0,1,0,40deg); }
    35%	{ transform: rotate3d(0,1,0,20deg); }
    38%	{ transform: rotate3d(0,1,0,30deg); }
    52%	{ transform: rotate3d(0,1,0,30deg); }
    61%	{ transform: rotate3d(0,1,0,60deg); }
    64%	{ transform: rotate3d(0,1,0,70deg); }
    68%	{ transform: rotate3d(0,1,0,30deg); }
    71% { transform: rotate3d(0,1,0,40deg); }
    85% { transform: rotate3d(0,1,0,60deg); }
    100%{ transform: rotate3d(0,1,0,30deg); }
}
@keyframes right-wing-flapping {
    0%	{ transform: rotate3d(0,1,0,-30deg); }
    20%	{ transform: rotate3d(0,1,0,-25deg); }
    31%	{ transform: rotate3d(0,1,0,-40deg); }
    35%	{ transform: rotate3d(0,1,0,-20deg); }
    38%	{ transform: rotate3d(0,1,0,-30deg); }
    52%	{ transform: rotate3d(0,1,0,-30deg); }
    61%	{ transform: rotate3d(0,1,0,-60deg); }
    64%	{ transform: rotate3d(0,1,0,-70deg); }
    68%	{ transform: rotate3d(0,1,0,-30deg); }
    71% { transform: rotate3d(0,1,0,-40deg); }
    85% { transform: rotate3d(0,1,0,-60deg); }
    100%{ transform: rotate3d(0,1,0,-30deg); }
}

@keyframes main-bf-flying {
  0% {
    transform:
        translate3d(0,0,0)
        rotate3d(0,0,0,0deg);
  }
  100% {
    transform:
        translate3d(0,-500px,0)
        scale(1.8)
        rotate3d(0,1,0,45deg);

  }
}

@keyframes playing-bfs {
  0% {
    transform:
        translate3d(0,0,0)
        rotate3d(0,0,1,140deg);
  }
  8% {
    transform:
        translate3d(100px,100px,0)
        rotate3d(0,0,1,160deg);
  }
  17% {
    transform:
        translate3d(200px,210px,0)
        rotate3d(0,0,1,170deg);
  }
  26% {
    transform:
        translate3d(280px,320px,0)
        rotate3d(0,0,1,190deg);
  }
  35% {
    transform:
        translate3d(300px,460px,0)
        rotate3d(0,0,1,220deg);
  }
  41% {
    transform:
        translate3d(250px,480px,0)
        rotate3d(0,0,1,250deg);
  }
  48% {
    transform:
        translate3d(160px,400px,0)
        rotate3d(0,0,1,300deg);
  }
  59% {
    transform:
        translate3d(0,280px,0)
        rotate3d(0,0,1,310deg);
  }
  64% {
    transform:
        translate3d(-100px,220px,0)
        rotate3d(0,0,1,305deg);
  }
  73% {
    transform:
        translate3d(-200px,200px,0)
        rotate3d(0,0,1,285deg);
  }
  80% {
    transform:
        translate3d(-300px,90px,0)
        rotate3d(0,0,1,340deg);
  }
  86% {
    transform:
        translate3d(-200px,20px,0)
        rotate3d(0,0,1,400deg);
  }
  93% {
    transform:
        translate3d(-100px,-20px,0)
        rotate3d(0,0,1,460deg);
  }
  100% {
    transform:
        translate3d(0,0,0)
        rotate3d(0,0,1,500deg);
  }
}

@keyframes playing-bfs-1024 {
  0% {
    transform:
        translate3d(0,0,0)
        rotate3d(0,0,1,140deg);
  }
  8% {
    transform:
        translate3d(70px,70px,0)
        rotate3d(0,0,1,160deg);
  }
  17% {
    transform:
        translate3d(140px,147px,0)
        rotate3d(0,0,1,170deg);
  }
  26% {
    transform:
        translate3d(196px,224px,0)
        rotate3d(0,0,1,190deg);
  }
  35% {
    transform:
        translate3d(210px,322px,0)
        rotate3d(0,0,1,220deg);
  }
  41% {
    transform:
        translate3d(175px,336px,0)
        rotate3d(0,0,1,250deg);
  }
  48% {
    transform:
        translate3d(112px,280px,0)
        rotate3d(0,0,1,300deg);
  }
  59% {
    transform:
        translate3d(0,196px,0)
        rotate3d(0,0,1,310deg);
  }
  64% {
    transform:
        translate3d(-70px,154px,0)
        rotate3d(0,0,1,305deg);
  }
  73% {
    transform:
        translate3d(-140px,140px,0)
        rotate3d(0,0,1,285deg);
  }
  80% {
    transform:
        translate3d(-210px,63px,0)
        rotate3d(0,0,1,340deg);
  }
  86% {
    transform:
        translate3d(-140px,14px,0)
        rotate3d(0,0,1,400deg);
  }
  93% {
    transform:
        translate3d(-70px,-14px,0)
        rotate3d(0,0,1,460deg);
  }
  100% {
    transform:
        translate3d(0,0,0)
        rotate3d(0,0,1,500deg);
  }
}

